<mat-card>
    <mat-card-header  class="breadcrumb">
      <div>Home/Branches</div>
  </mat-card-header>
  <div class="row">
    <div class="col-md-6 col-sm-12">
        <h4>Function</h4>
        <p>{{this.function_type}}</p>
    </div>
    <div class="col-md-6 col-sm-12">
        <h4>Branch Ref Code</h4>
        <p>{{this.solCode}}</p> 
    </div>
</div>
  <mat-divider></mat-divider>
  <br>
  
  <div class="container-fluid">
    <form
    class="form"
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
    #resetRequestsForm="ngForm"
    novalidate
  >
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
        <div class="col-md-6 col-sm-12 form-column ">
         <label class="start pull-left">Email</label>
        </div>
        <div class="col-md-6 col-sm-12 form-column">
          <input type="text" formControlName="email" oninput ="this.value=this.value.toUpperCase()" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
        </div>
     </div>           
</div>
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
       <label class="start pull-left">Branch Description</label>
      </div>
      <div class="col-md-6 col-sm-12 form-column">
        <textarea type="text" oninput ="this.value=this.value.toUpperCase()" formControlName="solDescription" class="pull-right form-control"></textarea>
      </div>
   </div>  
  </div>
</div>
<br>
<div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
          <div class="col-md-6 col-sm-12 form-column ">
           <label class="start pull-left">Phone Number</label>
          </div>
          <div class="col-md-6 col-sm-12 form-column">
            <input type="text" oninput ="this.value=this.value.toUpperCase()" formControlName="phoneNumber" class="pull-right form-control"/>
          </div>
       </div>           
  </div>
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <div class="col-md-6 col-sm-12 form-column ">
             <label class="start pull-left">Location</label>
            </div>
            <div class="col-md-6 col-sm-12 form-column">
              <input type="text" oninput ="this.value=this.value.toUpperCase()" formControlName="location" class="pull-right form-control"/>
            </div>
         </div> 
    </div>
  </div>

    <br />
    <button *ngIf="isEnabled" class="pull-right" mat-raised-button color="primary" type="submit">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Submit
    </button>
    <br/>
  </form>
    </div>
  </mat-card>
  
  
  