<mat-card>
    <mat-card-header class="breadcrumb">
        <div>Home/system/GLS/Main/data/view</div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <div class="container-fluid">
        <br>
        <form action="" class="form" [formGroup]="formData" novalidate (ngSubmit)="onSubmit()">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab class="mat-tab" label="Group Details">
                    <br>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label class="start pull-left">Group Code<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="groupCode" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label class="start pull-left">Group Name<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="group_name" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Sol ID<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="sol_id" class="form-control">
                                    <mat-icon (click)="branchLookup()">search</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left" >Branch Name<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" class="form-control" formControlName="branch_name" oninput="this.value=this.value.toUpperCase()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Group Manager ID<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="groupManager_ID" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Registration Number<span>*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" class="form-control" formControlName="reg_no" oninput="this.value=this.value.toUpperCase()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Group Location<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="group_location" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Group Phone Number<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="group_phone" class="form-control" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Start Meeting Date<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input  [matDatepicker]="mpicker" formControlName="first_meeting_date" class="form-control" />
                                    <mat-datepicker-toggle *ngIf="isEnabled" matSuffix [for]="mpicker"></mat-datepicker-toggle>
                                    <mat-datepicker #mpicker></mat-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Start Meeting Date<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input  [matDatepicker]="npicker" formControlName="next_meeting_date" class="form-control" />
                                    <mat-datepicker-toggle *ngIf="isEnabled" matSuffix [for]="npicker"></mat-datepicker-toggle>
                                    <mat-datepicker #npicker></mat-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Max Allowed Members<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="maxAllowedMembers" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Max Allowed SubGroups<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="maxAllowedSubGroups" class="form-control" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                           <div class="form-group">
                               <div class="col-md-6 col-sm-12 form-column">
                                   <label for="" class="start pull-left">Group Chairperson<span class="warning">*</span></label>
                               </div>
                               <div class="col-md-6 col-sm-12 form-column">
                                <input type="text" formControlName="chairperson" class="form-control">
                                <mat-icon (click)="customerLookup()">search</mat-icon>
                                <p></p>
                               </div>  
                           </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                           <div class="form-group">
                               <div class="col-md-6 col-sm-12 form-column">
                                   <label for="" class="start pull-left">Group Secretary<span class="warning">*</span></label>
                               </div>
                               <div class="col-md-6 col-sm-12 form-column">
                                   <input type="text" formControlName="secretary" class="form-control">
                                   <mat-icon (click)="customerLookup()">search</mat-icon>
                               </div>
                           </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Treasurer<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="treasurer" class="form-control">
                                    <mat-icon (click)="customerLookup()">search</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab class="mat-tab" label="Members Details">
                    <br>
                    <div *ngFor=" let groupMember of g.controls; let i = index">
                        <div [formGroup]="groupMember">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                  <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Customer Code<span class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input type="text" formControlName="cust_code" class="form-control">
                                        <mat-icon (click)="customerLookup()">search</mat-icon>
                                    </div>
                                  </div>
                               </div>
                               <div class="col-md-6 col-sm-12">
                                   <div class="form-group">
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <label for="" class="start pull-left">Customer Name<span class="warning">*</span></label>
                                       </div>
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <input type="text" formControlName="cust_name" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                       </div>
                                   </div>
                               </div>
                                
                            </div>
                           
                              
                            <mat-icon class="pull-right" (click)="onAddField()" color="primary">add_circle</mat-icon>
                            <mat-icon class="pull-right" (click)="onRemoveField(i)" color="warn">remove_circle</mat-icon>
                        </div>
                   
                    </div>
                </mat-tab>

                <mat-tab class="mat-tab" label="Financial Details">
                    <br>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Total Members</label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="total_members" class="form-control ">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Meeting Frequency</label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="meeting_frequency" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Total Savings A/Cs<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="total_savingsAccs" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Total Balance Balance<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="total_savingBalance" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Total Loan A/Cs<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="total_loanAccs" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull left">Total Loan Balances</label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="total_loanBalance" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <br>

            <button mat-raised-button color="default" routerLink="../../maintenance"  type="submit">Back</button>
            <button mat-raised-button color="primary" type="submit" class="pull-right">Submit</button>
        </form>
    </div>
</mat-card>
