<mat-card>
    <mat-card-header  class="breadcrumb">
      <div>Loan-Product/Maintenenace</div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br>
  
  <div class="container-fluid">
    <form
    class="form"
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
    #resetRequestsForm="ngForm"
    novalidate
  >
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <div class="col-md-6 col-sm-12 form-column ">
         <label class="start pull-left">Function<span class="warning">*</span></label>
        </div>
        <div class="col-md-6 col-sm-12 form-column ">
          <select (change)="onSelectFunction($event)" class="form-control" formControlName="function_type" [ngClass]="{ 'is-invalid': submitted && f.function_type.errors }" >
            <option value="" disabled>-- Choose Function --</option>
            <option *ngFor="let flag of functionArray" [value]="flag">{{ flag }}</option>
          </select>
        </div>
     </div>
    </div>
    
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <div class="col-md-6 col-sm-12 form-column ">
             <label class="start pull-left">Product Code<span class="warning">*</span></label>
            </div>
            <div class="col-md-6 col-sm-12 form-column ">
              <input maxlength="6" type="text" [value]="this.scheme_code_desc" oninput ="this.value=this.value.toUpperCase()" formControlName="scheme_code" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.scheme_code.errors }" />
              <mat-icon *ngIf="this.existingData" (click)="schemeCodeLookup()">search</mat-icon>
            </div>
         </div>            
    
      <!-- <div *ngIf="!this.existingData" class="form-group">
          <div class="col-md-6 col-sm-12 form-column ">
           <label class="start pull-left">Product Type</label>
          </div>
          <div class="col-md-6 col-sm-12 form-column ">
            <input type="text" [value]="this.scheme_type" oninput ="this.value=this.value.toUpperCase()" formControlName="scheme_type" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.scheme_type.errors }" />
            <mat-icon  (click)="schemeTypeLookup()">search</mat-icon>
          </div>
       </div>             -->
  </div>
  </div>
  <div class="row">
  
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <div class="col-md-6 col-sm-12 form-column ">
             <label class="start pull-left">Product Code Desc</label>
            </div>
            <div class="col-md-6 col-sm-12 form-column ">
               <textarea maxlength="100" [value]="this.laa_scheme_code_desc" oninput ="this.value=this.value.toUpperCase()" formControlName="scheme_code_desc" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.scheme_code_desc.errors }"></textarea>
            </div>
         </div>            
    </div>
  </div>
    <br />
    <button class="pull-right" mat-raised-button color="primary" type="submit">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      GO
    </button>
    <br />
  </form>
    </div>
  </mat-card>

               
  
  
  
  
  
