
  <mat-card>
    <mat-card-header  class="breadcrumb">      
        <div>Home/Configurations/Accounts/Office</div>
  </mat-card-header>
  <div class="row">
    <div class="col-md-4 col-sm-12">
        <h4>Function</h4>
        <p>{{this.function_type}}</p>
    </div>
    <div class="col-md-4 col-sm-12">
        <h4>SOL ID</h4>
        <p>{{this.sol_id}}</p> 
    </div>
    <div class="col-md-4 col-sm-12">
        <h4>A/c.ID</h4>
        <p>{{this.ac_id}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-12">
        <h4>CCY</h4>
        <p>{{this.ccy_name}}</p>
    </div>
    <div class="col-md-4 col-sm-12">
        <h4>GL Subhead Code</h4>
        <p>{{this.gl_subhead_code }}</p> 
    </div>
    <div class="col-md-4 col-sm-12">
        <h4>Scheme Code</h4>
        <p>{{this.scheme_code}}</p>
    </div>
</div>
  <mat-divider></mat-divider>
  <br>
  
  <div class="container-fluid">
    
    <form
    class="form"
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
    #resetRequestsForm="ngForm"
    novalidate
  >
  <mat-tab-group mat-align-tabs="center">
    <mat-tab class="mat-tab" label="General Details">
        <br>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <div class="col-md-6 col-sm-12 form-column ">
               <label class="start pull-left">A/c. Head Name<span class="warning">*</span></label>
              </div>
              <div class="col-md-6 col-sm-12 form-column ">
               <input type="text" formControlName="ac_head_name" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.ac_head_name.errors }" />
               <!-- <mat-icon *ngIf="isEnabled" (click)="accountLookup()">search</mat-icon> -->
            </div>
           </div> 
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column ">
                 <label class="start pull-left">Short Name<span class="warning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column ">
                 <input type="text" formControlName="short_name" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.short_name.errors }" />
                </div>
             </div>   
          </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column ">
                 <label class="start pull-left">Place Holder<span class="warning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column ">
                 <input type="text" formControlName="place_holder" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.place_holder.errors }" />
                 <mat-icon (click)="CcyLookup()">search</mat-icon>
                </div>
             </div> 
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column ">
                 <label class="start pull-left">A/c. Report Code<span class="warning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <textarea formControlName="ac_report_code" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.ac_report_code.errors }"></textarea>
                </div>
             </div>    
            </div>
          </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column ">
                 <label class="start pull-left">A/c. Supervisor ID<span class="warning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column ">
                 <input type="text" formControlName="ac_supervisor_id" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.ac_supervisor_id.errors }" />
                 <mat-icon (click)="CcyLookup()">search</mat-icon>
                </div>
             </div> 
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">A/c. Classification</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                    <select   class="form-control" formControlName="ac_classification" [ngClass]="{ 'is-invalid': submitted && f.ac_classification.errors }" >
                      <option value="" disabled>-- Choose Function --</option>
                      <option *ngFor="let flag of acclassificationArray" [value]="flag">{{ flag }}</option>
                    </select>
                  </div>
               </div>  
               </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column ">
                 <label class="start pull-left">System Only</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <mat-radio-group class="pull-right" aria-label="Select an option" formControlName="system_only_ac">
                    <mat-radio-button value="Y">Yes.</mat-radio-button>
                    <mat-radio-button value="N">No.</mat-radio-button>
                  </mat-radio-group>
                </div>
             </div>          
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Anywhere Transactions Allowed <span class="warning">*</span></label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                    <mat-radio-group class="pull-right" aria-label="Select an option" formControlName="any_trans_allowed">
                      <mat-radio-button value="Y">Yes.</mat-radio-button>
                      <mat-radio-button value="N">No.</mat-radio-button>
                    </mat-radio-group>
                  </div>
               </div>          
              </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column ">
                 <label class="start pull-left">Freeze Code<span class="warning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column ">
                 <input type="text" formControlName="freeze_code" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.freeze_code.errors }" />
                </div>
             </div> 
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Freeze Reason</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                   <input  type="text"  formControlName="freeze_reason" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.freeze_reason.errors }" />
                  </div>
               </div>     
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Tran.from other SOL Allowed<span class="warning">*</span></label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                    <mat-radio-group class="pull-right" aria-label="Select an option" formControlName="tran_from_other_sol_allowed">
                      <mat-radio-button value="Y">Yes.</mat-radio-button>
                      <mat-radio-button value="N">No.</mat-radio-button>
                    </mat-radio-group>
                  </div>
               </div>          
              </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Refresh A/c.Data To SIS</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                   <input  type="text"  formControlName="refresh_ac_data_to_sis" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.refresh_ac_data_to_sis.errors }" />
                  </div>
               </div>     
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">A/c. Partitioned</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                    <mat-radio-group class="pull-right" aria-label="Select an option" formControlName="ac_partitioned">
                      <mat-radio-button value="Y">Yes.</mat-radio-button>
                      <mat-radio-button value="N">No.</mat-radio-button>
                    </mat-radio-group>
                  </div>
               </div>          
              </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Partition Type</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                   <input  type="text"  formControlName="partition_type" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.partition_type.errors }" />
                  </div>
               </div>     
            </div>
          </div>


          <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Remarks</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                   <input  type="text"  formControlName="remarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }" />
                  </div>
               </div>     
            </div>
            <!-- <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Partition Type</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                   <input  type="text"  formControlName="cr_end_slab_amt" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cr_end_slab_amt.errors }" />
                  </div>
               </div>     
            </div> -->
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Cash Limit Dr.</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                   <input  type="text"  formControlName="cash_limit_dr" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cash_limit_dr.errors }" />
                  </div>
               </div>     
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Cash.Limit Cr.</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                   <input  type="text"  formControlName="cash_limit_cr" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cash_limit_cr.errors }" />
                  </div>
               </div>     
            </div>
          </div>

          <mat-divider></mat-divider>
          <h3>Limits</h3>
          
          <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Clg.Limit Dr.</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                   <input  type="text"  formControlName="clg_limit_dr" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.clg_limit_dr.errors }" />
                  </div>
               </div>     
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Clg.Limit Cr.</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                   <input  type="text"  formControlName="clg_limit_cr" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.clg_limit_cr.errors }" />
                  </div>
               </div>     
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Transfer Limit Dr.</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                   <input  type="text"  formControlName="transfer_limit_dr" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.transfer_limit_dr.errors }" />
                  </div>
               </div>     
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Transfer Limit Cr.</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                   <input  type="text"  formControlName="transfer_limit_cr" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.transfer_limit_cr.errors }" />
                  </div>
               </div>     
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Bal.Limit Dr.</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                   <input  type="text"  formControlName="bal_limit_dr" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bal_limit_dr.errors }" />
                  </div>
               </div>     
            </div>
            <!-- <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Clg.Limit Cr.</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                   <input  type="text"  formControlName="cr_end_slab_amt" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cr_end_slab_amt.errors }" />
                  </div>
               </div>     
            </div> -->
          </div>

          <mat-divider></mat-divider>
          <h3>A/c. Information</h3>

          <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Total Cr.</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                      :
                   <!-- <input  type="text"  formControlName="cr_end_slab_amt" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cr_end_slab_amt.errors }" /> -->
                  </div>
               </div>     
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Total Dr.</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                      :
                   <!-- <input  type="text"  formControlName="cr_end_slab_amt" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cr_end_slab_amt.errors }" /> -->
                  </div>
               </div>     
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Current Bal.</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                      :
                   <!-- <input  type="text"  formControlName="cr_end_slab_amt" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cr_end_slab_amt.errors }" /> -->
                  </div>
               </div>     
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Future Bal.</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                      :
                   <!-- <input  type="text"  formControlName="cr_end_slab_amt" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cr_end_slab_amt.errors }" /> -->
                  </div>
               </div>     
            </div>
          </div>
    </mat-tab>

    <!-- end of Credit Details -- Begining of Debit Details -->
  </mat-tab-group>
    <br />
    <button *ngIf="isEnabled" class="pull-right" mat-raised-button color="primary" type="submit">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Submit
    </button>
    <br />
  </form>
    </div>
  </mat-card>
  
  
  
  
  