
<div class="breadcrumb">
    <h4 >List of Charge Preferentials</h4>
</div>
    <table class="table table-striped table-bordered table-sm row-border hover" style="width: 100%">
        <thead>
            <tr>
                <th>Charge Preferential</th>
                <th>EVent Id</th>
                <th>Event Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of chrgPrefData">
                <td><a class="update btn btn-sm" color="accent" (click)="onSelect(item.id)">{{item.chrg_preferential}}</a></td>
                <td><a class="update btn btn-sm" color="accent" (click)="onSelect(item.id)">{{item.event_id}}</a></td>
                <td><a class="update btn btn-sm" color="accent" (click)="onSelect(item.id)">{{item.event_type}}</a></td>
            </tr>
        </tbody>
    </table>