<mat-card>
    <mat-card-header class="breadcrumb">
        <div>Home/Privileges/Maintenance</div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <div class="container-fluid">
        <form action="" [formGroup]="formData" #resetRequestsForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-12 form-column">
                            <label for="">Function<span class="warning">*</span></label>
                        </div>
                        <div class="col-md-6 col-sm-12 form-column">
                            <select formControlName="function_type" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.function_type.errors}"
                                (change)="onSelectFunction($event)">
                                <option disabled>--Choose A function--</option>
                                <option *ngFor="let item of functionArray" [value]="item">{{item}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-12 form-column">
                            <label class="start pull-left" for="">Role<span class="warning">*</span></label>
                        </div>
                        <div *ngIf="!this.existingData" class="col-md-6 col-sm-12 form-column">
                            <input type="text" class="form-control" formControlName="names" maxlength="50"
                                oninput="this.value=this.value.toUpperCase()">
                        </div>
                        <div *ngIf="this.existingData" class="col-md-6 col-sm-12 form-column">
                            <select formControlName="names" class="form-control">
                                <!-- <option>--Select Role!--</option> -->
                                <option *ngFor="let item of this.rolesArray" [value]="item.name">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <button class="pull-right" mat-raised-button color="primary" type="submit">GO</button>
        </form>
    </div>
</mat-card>