<mat-card>
    <mat-card-header class="breadcrumb">
        <div>
            <a routerLink="/system">Dashboard / </a>
            <a routerLink="/system/">Term Deposit Account Maintenenace / </a>Term Deposit Account
            <!-- <a routerLink="/system">Dashboard / </a>
            <a routerLink="/system">  / </a>Accounts Term Deposit -->
        </div>
    </mat-card-header>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            Function: 
        </div>
        <div class="col-md-6 col-sm-12">
            <h4>Account Code</h4>
            <p>{{this.account_code}}</p>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-md-6 col-sm-12">
          <h4>Account Type</h4>
          <p>{{message.account_type}}</p>
        </div> -->
        <div class="col-md-6 col-sm-12">
            <h4>Customer Type</h4>
            <p>{{this.customer_type}}</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br>
    <div class="container-fluid">
        <form action="" [formGroup]="formData" novalidate class="form" (ngSubmit)="onSubmit()">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab class="mat-tab container-fluid" label="General Details">
                    <br>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Account Manager<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="accountManager" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    &nbsp; &nbsp;
                                    <mat-icon color="primary" (click)="customerLookup()"
                                        matTooltip="Search Account Manager">search</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Account Name<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="accountName" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    <!-- <mat-icon (click)="customerLookup()">search</mat-icon> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Account Ownership<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="accountOwnership" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    <mat-icon (click)="customerLookup()">search</mat-icon>
                                </div>
                            </div>
                        </div>
                    
                    </div> -->
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Branch Code<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="solCode" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    &nbsp; &nbsp;
                                    <mat-icon color="primary" matTooltip="Search branch code"
                                        (click)="branchSubheadLookup()">search</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Currency(CCY)<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="currency" maxlength="3" class="form-control">
                                    &nbsp; &nbsp;
                                    <mat-icon color="primary" matTooltip="Search currency" (click)="currencyLookup()">
                                        search</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Customer Code<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="customerCode" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    &nbsp; &nbsp;
                                    <mat-icon color="primary" matTooltip="Search Customer Code"
                                        (click)="customerLookup()">search</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Opening Date<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input [matDatepicker]="opicker" formControlName="openingDate"
                                        class="form-control" />
                                    <mat-datepicker-toggle  matSuffix [for]="opicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #opicker></mat-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Scheme Code<span></span>*</label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="schemeCode" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    &nbsp; &nbsp;
                                    <mat-icon color="primary" matTooltip="Search Scheme code"
                                        (click)="tdaSchemeCodeLookup()">search</mat-icon>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <mat-hint>{{this.tda_scheme_code_desc}}</mat-hint>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Scheme Type<span></span>*</label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="schemeType" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    &nbsp; &nbsp;
                                    <mat-icon color="primary" matTooltip="Search Scheme Type"
                                        (click)="sbaSchemeTypeLookup()">
                                        search</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">GL CODE<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="glCode" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    &nbsp; &nbsp;
                                    <mat-icon color="primary" matTooltip="Search GL Code" (click)="glCodeLookup()">
                                        search
                                    </mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Gl Subhead<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="glSubhead" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                        &nbsp; &nbsp;
                                        <mat-icon color="primary" matTooltip="Search GL Code" (click)="glSubHeadLookup()">
                                            search
                                        </mat-icon>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column"></div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <mat-hint>{{tda_gl_subhead_description}}</mat-hint>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Sector Code<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="sectorCode" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    &nbsp; &nbsp;
                                    <mat-icon color="primary" matTooltip="Search Sector Code" (click)="sectorCodeLookup()">
                                        search</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Sub Sector Code<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="subSectorCode" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    &nbsp; &nbsp;
                                    <mat-icon color="primary" matTooltip="Search sub Sector Code"
                                        (click)="subSectorCodeLookup()">search</mat-icon>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Cash Exception Limit Dr.<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="cashExceptionLimitDr" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Cash Exception Limit Cr.<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="cashExceptionLimitCr" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Transfer Exception Limit Dr.<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="transferExceptionLimitDr"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Transfer Exception Limit Cr.</label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="transferExceptionLimitCr"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Account Statement<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="accountStatement" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Statement Frequency<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <select formControlName="statementFreq" class="form-control">
                                        <option value="" disabled>--FREQUENCY--</option>
                                        <option *ngFor="let item of statementFreqArray" [value]="item">{{item}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Dispatch Mode<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <select formControlName="dispatchMode" class="form-control">
                                        <option value="" disabled>--MODE--</option>
                                        <option *ngFor="let item of despatch_mode_array" [value]="item">{{item}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column ">
                                    <label class="start pull-left">Withholding Tax</label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column ">
                                    <mat-radio-group name="citizen" formControlName="withholdingTax">
                                        <mat-radio-button color="primary" value=True>Yes</mat-radio-button>
                                        <mat-radio-button color="primary" value=False>No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Account Status<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <select formControlName="accountStatus" class="form-control">
                                        <option value="">STATUS</option>
                                        <option *ngFor="let item of accountStatusArray" [value]="item">{{item}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab class="mat-tab" label="Specific Details">
                    <br>
                    <form action="" [formGroup]="termDepositData">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Installment Deposit Amount<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input type="number" formControlName="depInstallmentAmount"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Break in Deposit Multiples<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input type="number" formControlName="breakDepInMultiples" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Deposit period(MM)<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input type="number" formControlName="depositPeriod" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Matured Value<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input type="number" formControlName="tda_maturedValue" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </mat-tab>
                <mat-tab class="mat-tab" label="Nominations">
                    <br>
                    <form action="" [formGroup]="nomineesFormData" novalidate (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">First Name<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="20" type="text" formControlName="firstName"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Middle Name<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="20" type="text" formControlName="middleName"
                                            class="form-control" oninput="this.value=this.value.toUpperCase()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Last Name<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="20" type="text" formControlName="lastName"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">National ID<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="8" type="text" formControlName="identificationNo"
                                            class="form-control" oninput="this.value=this.value.toUpperCase()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Phone Number<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="12" type="phone" formControlName="phone" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Email Address<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="20" type="email" formControlName="emailAddress"
                                            class="form-control" oninput="this.value=this.value.toUpperCase()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Date of Birth<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input type="date" formControlName="dob" class="form-control" />
                                        <!-- <input [matDatepicker]="ppicker" formControlName="dob" class="form-control" />
                                        <mat-datepicker-toggle *ngIf="isEnabled" matSuffix [for]="ppicker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #ppicker></mat-datepicker> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Relationship<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <select formControlName="relationship" class="form-control">
                                            <option value="" disabled>--select here--</option>
                                            <option *ngFor="let item of relationshipArray" [value]="item">{{item}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Occupation<span></span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input type="text" formControlName="occupation"
                                            oninput="this.value=this.value.toUpperCase()" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Nominee Minor<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <mat-radio-group name="minor" formControlName="nomineeMinor">
                                            <mat-radio-button color="primary" value=True>Yes</mat-radio-button>
                                            <mat-radio-button color="primary" value=False>No</mat-radio-button>
                                        </mat-radio-group>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br />
                        <form action="" [formGroup]="guardianFormData">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-12 form-column">
                                            <label for="" class="start pull-left">Guardian Name<span
                                                    class="warning">*</span></label>
                                        </div>
                                        <div class="col-md-6 col-sm-12 form-column">
                                            <input type="text" formControlName="guardianName" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-12 form-column">
                                            <label for="" class="start pull-left">Guardian Code <span
                                                    class="warning">*</span></label>
                                        </div>
                                        <div class="col-md-6 col-sm-12 form-column">
                                            <select formControlName="guardianCode" class="form-control">
                                                <option *ngFor="let item of guardianArray" [value]="item">{{item}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-12 form-column">
                                            <label for="" class="start pull-left">Guardian Address<span
                                                    class="warning">*</span></label>
                                        </div>
                                        <div class="col-md-6 col-sm-12 form-column">
                                            <input type="text" formControlName="address" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-12 form-column">
                                            <label for="" class="start pull-left">Residence<span
                                                    class="warning">*</span></label>
                                        </div>
                                        <div class="col-md-6 col-sm-12 form-column">
                                            <input type="text" formControlName="residence" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                        <button class="pull-right btn-sm" type="button" (click)="previewNominees()">
                            + Add
                        </button>
                        <button class="pull-right btn-sm" type="button" (click)="initNomineeData()">
                            Reset form
                        </button>
                        <button class="pull-right btn-sm" type="button" (click)="onNomineeClear()">
                            Clear All
                        </button>
                    </form>
                    <br>
                    <br>
                    <table class="table table-striped table-bordered table-sm row-border hover" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>First Name</th>
                                <th>Middle Name</th>
                                <th>Last Name</th>
                                <th>Nationa ID</th>
                                <th>Phone Number</th>
                                <th>Email Address</th>
                                <th>Date of Birth</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.nomineeArray ,let i = index">
                                <td>{{i + 1}}</td>
                                <td>{{item.firstName}}</td>
                                <td>{{item.middleName}}</td>
                                <td>{{item.lastName}}</td>
                                <td>{{item.identificationNo}}</td>
                                <td>{{item.phone}}</td>
                                <td>{{item.emailAddress}}</td>
                                <td>{{item.dob}}</td>
                                <td><a class="update btn btn-sm" color="accent" (click)="onRemove(i)">X</a></td>
                            </tr>
                        </tbody>
                    </table>


                </mat-tab>
            </mat-tab-group>
            <br>
            <button mat-raised-button type="submit" class="float-left" [routerLink]="">BACK</button>
            <!-- <button mat-raised-button type="submit" color="warn" class=" start float-right">Reset</button> -->
            <button mat-raised-button type="submit" color="primary" class="float-right"
                style="margin-bottom:20px ;">SUBMIT</button>
        </form>
    </div>
</mat-card>