
.container-fluid{
    height: 100%;
    overflow: auto !important;
    background-image: url('../../assets/Images/hdbc.jpg');
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: cover;
}
