<mat-card>
  <mat-card-header  class="breadcrumb">
    <div>Home/Currency</div>
</mat-card-header>
<div class="row">
  <div class="col-md-6 col-sm-12">
      <h4>Function</h4>
      <p>{{this.function_type}}</p>
  </div>
  <div class="col-md-6 col-sm-12">
      <h4>Currency</h4>
      <p>{{this.ccy_name}}</p>
  </div>

</div>
<mat-divider></mat-divider>
<br>
<div class="container-fluid">
  <form
  class="form"
  [formGroup]="formData"
  (ngSubmit)="onSubmit()"
  #resetRequestsForm="ngForm"
  novalidate
>
<div class="row">
<div class="col-md-6 col-sm-12">
  <div class="form-group">
    <div class="col-md-6 col-sm-12 form-column ">
     <label class="start pull-left">CCY</label>
    </div>
    <div class="col-md-6 col-sm-12 form-column">
      <input type="text" maxlength = "3" formControlName="ccy" oninput ="this.value=this.value.toUpperCase()" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.ccy.errors }" />
    </div>
 </div>
</div>
<div class="col-md-6 col-sm-12">
  <div class="form-group">
    <div class="col-md-6 col-sm-12 form-column ">
     <label class="start pull-left">Country</label>
    </div>
    <div class="col-md-6 col-sm-12 form-column">
     <select class="form-control" formControlName="country">
       <option value="" disabled>-- Select Country --</option>
       <option *ngFor="let flag of this.respData " [value]="flag">{{ flag.name.common }}</option>
     </select>
    </div>
 </div>
</div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
      <div class="form-group">
          <div class="col-md-6 col-sm-12 form-column ">
           <label class="start pull-left">CCY Name</label>
          </div>
          <div class="col-md-6 col-sm-12 form-column">
            <input type="text" maxlength = "30" formControlName="ccy_name" oninput ="this.value=this.value.toUpperCase()" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.ccy_name.errors }" />
          </div>
       </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
       <label class="start pull-left">Decimal Precision</label>
      </div>
      <div class="col-md-6 col-sm-12 form-column">
        <input type="number" maxlength = "30" formControlName="ccy_name" oninput ="this.value=this.value.toUpperCase()" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.ccy_name.errors }" />

      </div>
   </div>
  </div>
</div>
  <br />
   <button class="pull-left" routerLink="../../maintenance"  mat-raised-button color="default" type="button">
        Back
      </button>
  <button *ngIf="isEnabled" class="pull-right" mat-raised-button color="primary" type="submit">
    <span
      *ngIf="loading"
      class="spinner-border spinner-border-sm mr-1"
    ></span>
    Submit
  </button>
  <br />
</form>
  </div>
</mat-card>




