<mat-card>
    <mat-card-header  class="breadcrumb">
        <div>Home/system/Limits/data/View</div>
    </mat-card-header>
    <div class="row">
      <div class="col-md-4 col-sm-12">
          <h4>Function</h4>
          <p>{{this.function_type}}</p>
      </div>
      <div class="col-md-4 col-sm-12">
          <h4>Limit Code</h4>
          <p>{{this.limitCode}}</p> 
      </div>
      <div class="col-md-4 col-sm-12">
          <h4>Limit Description</h4>
          <p>{{ this.limitDescription}}</p>
      </div>
  
  </div>
    <mat-divider></mat-divider>
    <br>
  
    

  <div class="container-fluid">
      <form class="form"
      novalidate
      [formGroup]="formData"
      (ngSubmit)="onSubmit()">

      <mat-tab-group mat-align-tabs="center">
        <mat-tab class="mat-tab" label="Limits Details">
         <div class="row">
             <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <div class="col-md-6 col-sm-12 form-column">
                        <label for="" class="start pull-right">Customer Code<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-sm-12 form-column">
                        <input type="text" formControlName="customer_code" class="form-control" oninput="this.value=this.value.toUpperCase()">
                        <mat-icon (click)="customerLookup()">search</mat-icon>

                    </div>
                </div>
             </div>
             <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <div class="col-md-6 col-sm-12 form-column">
                        <label for="" class="start pull-right">Limit Value<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-sm-12 form-column">
                        <input type="number" class="form-control" formControlName="limit_value">
                    </div>
                </div> 
            </div>
         </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
               <div class="form-group">
                   <div class="col-md-6 col-sm-12 form-column">
                       <label for="" class="start pull-right">Non Fund Based(%)<span class="warning">*</span></label>
                   </div>
                   <div class="col-md-6 col-sm-12 form-column">
                       <input type="number" formControlName="non_fundbased_pcnt" class="form-control">
                   </div>
               </div>
           </div>
           <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column">
                    <label for="" class="start pull-right">Fund Based(%)<span class="warning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                    <input type="number" class="form-control" formControlName="fund_based_pcnt">
                </div>
            </div>
           </div>
        </div>
            <div *ngFor="let colForm of c.controls; let i = index">
                <div [formGroup]="colForm">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-right">Collateral Code<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" class="form-control" formControlName="collateral_code" oninput="this.value=this.value.toUpperCase()">
                                    <mat-icon (click)="collateralLookup()">search</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                           <div class="form-group">
                               <div class="col-md-6 col-sm-12 form-column">
                                   <label for="" class="start pull-right">Collateral Value<span class="warning">*</span></label>
                               </div>
                               <div class="col-md-6 col-sm-12 form-column">
                                   <input type="number" class="form-control" formControlName="collateral_value">
                                   
                                   <mat-icon (click)="onAddField()" color="primary">add_circle</mat-icon>
                                   <mat-icon (click)="onRemoveField(i)" color="warn">remove_circle</mat-icon>
                              
                                </div>
                           </div>
                       </div>
                    </div>
                </div>
                </div>

        <br>
    </mat-tab>
    <mat-tab class="mat-tab" label="Fund-Based Limit Nodes">
        <br>
        <form class="form" [formGroup]="fundBasedForm" (ngSubmit)="onSubmit()" #resetRequestsForm="ngForm" novalidate>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column ">
                  <label class="start pull-left">Limit Node Name<span class="warning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column ">
                  <input oninput="this.value=this.value.toUpperCase()"
                    type="text" formControlName="limit_node_name" class="pull-right form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <div class="col-md-6 col-sm-12 form-column ">
                      <label class="start pull-left">Limit Node Value<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-sm-12 form-column ">
                      <input oninput="this.value=this.value.toUpperCase()"
                      type="number"  formControlName="limit_node_value" class="pull-right form-control" />
                    </div>
                  </div>
            </div>
          </div>

          <br />
          <button class="pull-right btn-sm" type="button" (click)="onAddFundBased()">
            <span  class="spinner-border spinner-border-sm mr-1"></span>
            + Add
          </button>

          <br />
        </form>
        <br>

        <table class="table table-striped table-bordered table-sm row-border hover" style="width: 100%;">
          <thead>
            <tr>
              <th>No.</th>
              <th>Limit Name</th>
              <th>Limit Value</th>
              <th>Operation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of this.fundedLimitsArray, let i = index">
              <td>{{i + 1}}</td>
              <td>{{item.limit_node_name}}</td>
              <td>{{item.limit_node_value}}</td>
              <td><a class="update btn btn-sm" (click)="onDeleteFundbased(i)" color="accent">X</a>
                <a class="update btn btn-sm" color="accent" (click)="editFundedValue(i)">Edit</a>
              </td>
            </tr>
          </tbody>
        </table>
    </mat-tab>
    <mat-tab class="mat-tab" label="Non-Fund-Based Limit Nodes">
        <br>
        <form class="form" [formGroup]="nonFundBasedForm" (ngSubmit)="onSubmit()" #resetRequestsForm="ngForm" novalidate>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column ">
                  <label class="start pull-left">Limit Node Name<span class="warning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column ">
                  <input oninput="this.value=this.value.toUpperCase()"
                    type="text" formControlName="limit_node_name" class="pull-right form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <div class="col-md-6 col-sm-12 form-column ">
                      <label class="start pull-left">Limit Node Value<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-sm-12 form-column ">
                      <input oninput="this.value=this.value.toUpperCase()"
                      type="number"  formControlName="limit_node_value" class="pull-right form-control" />
                    </div>
                  </div>
            </div>
          </div>

          <br />
          <button class="pull-right btn-sm" type="button" (click)="onAddNonFundBased()">
            <span  class="spinner-border spinner-border-sm mr-1"></span>
            + Add
          </button>

          <!-- <button class="pull-right btn-sm" *ngIf="!existingData"   type="button" (click)="updateLoanFee(this.arrayIndex)">
       <span
         *ngIf="loading"
         class="spinner-border spinner-border-sm mr-1"
       ></span>
      + Update
     </button> -->
          <!-- <button class="pull-right btn-sm"   type="button" (click)="initLoanForm()">
       <span
         *ngIf="loading"
         class="spinner-border spinner-border-sm mr-1"
       ></span>
      Clear
     </button> -->
          <br />
        </form>
        <br>

        <table class="table table-striped table-bordered table-sm row-border hover" style="width: 100%;">
          <thead>
            <tr>
              <th>No.</th>
              <th>Limit Name</th>
              <th>Limit Value</th>
              <th>Operation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of this.nonFundedLimitsArray, let i = index">
              <td>{{i + 1}}</td>
              <td>{{item.limit_node_name}}</td>
              <td>{{item.limit_node_value}}</td>
              <td><a class="update btn btn-sm" color="accent">X</a>
                <!-- <a class="update btn btn-sm" color="accent" (click)="editLoanFeeForm(i)">Edit</a> -->
              </td>
            </tr>
          </tbody>
        </table>
    </mat-tab>
</mat-tab-group>
        <button mat-raised-button color="default" routerLink="../../maintenance"   type="submit" class="pull-left" >Back</button>
        <button mat-raised-button color="primary" type="submit" class="pull-right">Submit</button>
    </form>
  </div>
</mat-card>
