<mat-card>
    <mat-card-header  class="breadcrumb">
      <div>Home/Configuration/Event_id</div>
  </mat-card-header>
  <div class="row">
    <div class="col-md-4 col-sm-12">
        <h4>Function</h4>
        <p>{{this.function_type}}</p>
    </div>
    <div class="col-md-4 col-sm-12">
        <h4>Event Type</h4>
        <p>{{ this.event_type_desc }}</p> 
    </div>
    <div class="col-md-4 col-sm-12">
        <h4>Event ID</h4>
        <p>{{ this.event_id}}</p>
    </div>

</div>
  <mat-divider></mat-divider>
  <br>
  
  <div class="container-fluid">
    <form
    class="form"
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
    #resetRequestsForm="ngForm"
    novalidate
  >
  <div class="row">
    <div class="col-md-6 col-sm-12">
           <div class="form-group">
             <div class="col-md-6 col-sm-12 form-column ">
              <label class="start pull-left">A/c.Placeholder <span class="warning">*</span></label>
             </div>
             <div class="col-md-6 col-sm-12 form-column ">
              <input  type="text" [value]="this.ac_placeholder" formControlName="ac_placeholder" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ac_placeholder.errors }" />
              <mat-icon *ngIf="isEnabled" (click)="accountLookup()">search</mat-icon>
             </div>
          </div>           
    </div>
    <div class="col-md-6 col-sm-12">
      
    </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
       <label class="start pull-left">Amt.Derivation Type<span class="warning">*</span></label>
      </div>
      <div class="col-md-6 col-sm-12 form-column ">
        <select (change)="onSelectAmtDerivationType($event)" class="form-control" formControlName="amt_derivation_type" [ngClass]="{ 'is-invalid': submitted && f.amt_derivation_type.errors }" >
          <option value="" disabled>-- Choose Function --</option>
          <option *ngFor="let flag of amt_derivation_Array" [value]="flag.code">{{ flag.code }}-{{ flag.description }}</option>
        </select>

     </div>
   </div>                
  </div>
  <div class="col-md-6 col-sm-12">
    <div *ngIf="showAmtDerivationInput" class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
       <label class="start pull-left">Amt.<span class="warning">*</span></label>
      </div>
      <div class="col-md-6 col-sm-12 form-column ">
       <input type="number" formControlName="amt" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.amt.errors }" />
      </div>
   </div> 
   <div *ngIf="showPercentageDerivationInput" class="form-group">
    <div class="col-md-6 col-sm-12 form-column ">
     <label class="start pull-left">Percentage %<span class="warning">*</span></label>
    </div>
    <div class="col-md-6 col-sm-12 form-column ">
      <input type="number" formControlName="percentage" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.percentage.errors }" />
    </div>
 </div> 
 <div *ngIf="showChargecodeDerivationInput" class="form-group">
  <div class="col-md-6 col-sm-12 form-column ">
   <label class="start pull-left">Charge Code<span class="warning">*</span></label>
  </div>
  <div class="col-md-6 col-sm-12 form-column ">
   <input type="text" formControlName="chrg_code" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.chrg_code.errors }" />
  </div>
</div> 
<div *ngIf="showMrtFilenameDerivationInput" class="form-group">
  <div class="col-md-6 col-sm-12 form-column ">
   <label class="start pull-left">File Name<span class="warning">*</span></label>
  </div>
  <div class="col-md-6 col-sm-12 form-column ">
    <input type="text" formControlName="file_name" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.file_name.errors }" />
  </div>
</div> 
<div *ngIf="showFilenameDerivationInput" class="form-group">
  <div class="col-md-6 col-sm-12 form-column ">
   <label class="start pull-left">File Name<span class="warning">*</span></label>
  </div>
  <div class="col-md-6 col-sm-12 form-column ">
    <input type="text" formControlName="file_name" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.file_name.errors }" />
  </div>
</div> 



  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
       <label class="start pull-left">Chrg. Calc. Crncy</label>
      </div>
      <div class="col-md-6 col-sm-12 form-column ">
        <input type="text" [value]="this.chrg_calc_crncy" formControlName="chrg_calc_crncy" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.chrg_calc_crncy.errors }" />
        <mat-icon *ngIf="isEnabled"  (click)="chrgCalcCrncyLookup()">search</mat-icon>
      </div>
   </div> 
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
       <label class="start pull-left">Chrg. Coll. Crncy</label>
      </div>
      <div class="col-md-6 col-sm-12 form-column ">
        <input type="text" [value]="this.chrg_coll_crncy" formControlName="chrg_coll_crncy" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.chrg_coll_crncy.errors }" />
        <mat-icon *ngIf="isEnabled"  (click)="chrgCollCrncyLookup()">search</mat-icon>
      </div>
   </div> 
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
       <label class="start pull-left">Min.Amt.</label>
      </div>
      <div class="col-md-6 col-sm-12 form-column">
        <input type="text" [value]="this.min_amt_ccy" formControlName="min_amt_ccy" class="currency pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.min_amt_ccy.errors }" />
        <mat-icon *ngIf="isEnabled"  (click)="minAmtCurrencyLookup()">search</mat-icon>
        <input type="number" formControlName="min_amt" class="currency-value pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.min_amt.errors }" />
      </div>
   </div>            
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
       <label class="start pull-left">Max.Amt.<span class="warning">*</span></label>
      </div>
      <div class="col-md-6 col-sm-12 form-column">
        <input type="text" [value]="this.max_amt_ccy" formControlName="max_amt_ccy" class="currency pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.max_amt_ccy.errors }" />
        <mat-icon *ngIf="isEnabled"  (click)="maxAmtCurrencyLookup()">search</mat-icon>
        <input type="number" formControlName="max_amt" class="currency-value pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.max_amt.errors }" />
           
      </div>
   </div>   
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
       <label class="start pull-left">Fee Report Code</label>
      </div>
      <div class="col-md-6 col-sm-12 form-column">
        <input type="text" formControlName="fee_report_code" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.fee_report_code.errors }" />
        <mat-icon>search</mat-icon>
      </div>
   </div>            
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
       <label class="start pull-left">Rate Code</label>
      </div>
      <div class="col-md-6 col-sm-12 form-column">
        <input type="text" formControlName="rate_code" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.rate_code.errors }" />
        <mat-icon *ngIf="isEnabled"  >search</mat-icon>
      </div>
   </div>   
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
       <label class="start pull-left">Tran.Remarks</label>
      </div>
      <div class="col-md-6 col-sm-12 form-column">
        <mat-radio-group class="pull-right" aria-label="Select an option" formControlName="tran_remarks_state">
          <mat-radio-button value="Y">Yes.</mat-radio-button>
          <mat-radio-button value="N">No.</mat-radio-button>
        </mat-radio-group>
      </div>
   </div>          
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
       <label class="start pull-left">Tran.Remarks</label>
      </div>
      <div class="col-md-6 col-sm-12 form-column">
        <textarea formControlName="tran_remarks" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.tran_remarks.errors }"></textarea>
      </div>
   </div>    
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
       <label class="start pull-left">Tran.Particulars</label>
      </div>
      <div class="col-md-6 col-sm-12 form-column">
        <mat-radio-group class="pull-right" aria-label="Select an option" formControlName="tran_particulars_state">
          <mat-radio-button value="Y">Yes.</mat-radio-button>
          <mat-radio-button value="N">No.</mat-radio-button>
        </mat-radio-group>
      </div>
   </div>          
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
       <label class="start pull-left">Tran.Particulars.Remarks</label>
      </div>
      <div class="col-md-6 col-sm-12 form-column">
        <textarea formControlName="tran_particulars" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.tran_particulars.errors }"></textarea>
      </div>
   </div>   
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">   
    <div class="form-group">
    <div class="col-md-6 col-sm-12 form-column ">
     <label class="start pull-left">Round Off Flag .<span class="warning">*</span></label>
    </div>
    <div class="col-md-6 col-sm-12 form-column">
      <select class="pull-right form-control" formControlName="round_off_flag">
        <option *ngFor="let flag of flagArray">
          {{ flag }}
        </option>
      </select>
    </div>
 </div> 
  </div>
  <div class="col-md-6 col-sm-12"> 
    <div class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
       <label class="start pull-left">Round Off Value</label>
      </div>
      <div class="col-md-6 col-sm-12 form-column">
        <input type="text" formControlName="round_off_value" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.round_off_value.errors }" />   
      </div>
   </div>  
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
       <label class="start pull-left">Exercise Duty</label>
      </div>
      <div class="col-md-6 col-sm-12 form-column">
        <mat-radio-group  class="pull-right" aria-label="Select an option" formControlName="has_exercise_duty">
          <mat-radio-button (change)="onYesExerciseDuty($event)" value="Y">Yes.</mat-radio-button>
          <mat-radio-button (change)="onNoExerciseDuty($event)" value="N">No.</mat-radio-button>
        </mat-radio-group>
        <label *ngIf="showExerciseDutyPercentageInput">Percentage %.</label>
        <input *ngIf="showExerciseDutyPercentageInput" type="number" formControlName="exercise_duty_percentage" class="pull-right sub-form-control form-control " [ngClass]="{ 'is-invalid': submitted && f.round_off_value.errors }" />   
      </div>
   </div> 

    <!-- <div class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
       <label class="start pull-left">Exercise Duty</label>
      </div>
      <div class="col-md-6 col-sm-12 form-column">
        <mat-radio-group class="pull-right" aria-label="Select an option" formControlName="tran_particulars_state">
          <mat-radio-button value="Y">Yes.</mat-radio-button>
          <mat-radio-button value="N">No.</mat-radio-button>
        </mat-radio-group>
        <input type="text" formControlName="round_off_value" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.round_off_value.errors }" />   
      </div>
   </div>   -->
   
  </div>
  <div class="col-md-6 col-sm-12">
    <!-- <div class="form-group">
      <div class="col-md-6 col-sm-12 form-column ">
       <label class="start pull-left">Record</label>
      </div>
      <div class="col-md-6 col-sm-12 form-column">
        <mat-checkbox class="example-margin" formControlName="record_del">Del.</mat-checkbox>
      </div>
   </div>        -->
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <div class="col-md-6 col-sm-12 form-column ">
         <label class="start pull-left">Verify</label>
        </div>
        <div class="col-md-6 col-sm-12 form-column">
          <mat-checkbox class="example-margin" formControlName="is_verified"></mat-checkbox>
        </div>
     </div>          
  </div>
  <div class="col-md-6 col-sm-12">
      <div class="form-group">
          <div class="col-md-6 col-sm-12 form-column ">
           <label class="start pull-left">Delete</label>
          </div>
          <div class="col-md-6 col-sm-12 form-column">
          <mat-checkbox class="example-margin" formControlName="is_deleted"></mat-checkbox>
          </div>
       </div>   
  </div>
</div>
    <br />
    <button *ngIf="isEnabled" class="pull-right" mat-raised-button color="primary" type="submit">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Submit
    </button>
    <br />
  </form>
    </div>
  </mat-card>
  
  
  
  
  