<!-- <p>loan-account works!</p>
<p>{{this.message.scheme_code}}</p> -->

<mat-card>
    <mat-card-header class="breadcrumb">
      <div>Home/Transactions/</div>
    </mat-card-header>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h4>Function</h4>
        <p>{{message.function_type}}</p>
      </div>
      <div class="col-md-6 col-sm-12">
        <h4>Transaction Code</h4>
        <p>{{message.transaction_code}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h4>Transaction Type</h4>
        <p>{{message.transaction_type}}</p>
      </div>

    </div>
    <mat-divider></mat-divider>
  
    <div class="container-fluid">

  
      <form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()" #resetRequestsForm="ngForm" novalidate>

            <br>
            <div class="row">

              <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <div class="col-md-6 col-sm-12 form-column ">
                      <label class="start pull-left">Credit Account</label>
                    </div>
                    <div class="col-md-6 col-sm-12 form-column">
                      <input type="text" formControlName="creditAccount" class="pull-right form-control"/>
                       <mat-icon (click)="savingsAccountLookup()">search</mat-icon>
                    </div>
                  </div>
                </div>

              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                    <label class="start pull-left">Debit Account</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                    <input formControlName="debitAccount" type="text" class="pull-right form-control"/>
                     <mat-icon (click)="officeAccountLookup()">search</mat-icon>
                  </div>
                </div>
              </div>
  
            </div>

  
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Type</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column ">
                    <select  (change)="onTypeChange($event)" class="form-control" formControlName="transactionSubType" >
                      <option value="" disabled>-- Choose Type --</option>
                      <option *ngFor="let flag of TypeArray" [value]="flag.stype">{{ flag.type }}</option>
                    </select>
                  </div>
               </div> 
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Amount</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column ">
                   <input type="number" formControlName="amount" class="pull-right form-control" />
                  </div>
               </div> 
              </div>
            </div>
  
  
            <div class="row mb-2">
  
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Currency</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column ">
                   <input type="text" formControlName="currency" class="pull-right form-control" />
                  </div>
               </div> 
              </div>
  
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Branch Code</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column ">
                   <input type="text" formControlName="sol" class="pull-right form-control" />
                   <mat-icon>search</mat-icon>
                  </div>
               </div> 
              </div>
            </div>

            <div class="row mb-2">
  
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Particulars</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column ">
                   <textarea class="form-control" type="text" formControlName="transactionDetails" id="exampleFormControlTextarea1" rows="5"></textarea>
                  </div>
               </div> 
              </div>
  
            </div>


       
<br>
          <div class="row mt-4" *ngIf="message.function_type!='I-Inquire'"> 
              <div class="col-md-1 offset-md-9">
                <button mat-raised-button color="warn" type="reset">
                    Reset
                  </button>
              </div>
              <div class="col-md-1">
                <button mat-raised-button color="primary" type="submit" *ngIf="message.function_type!='X-Cancel'">
                    <span
                      *ngIf="loading"
                      class="spinner-border spinner-border-sm mr-1"
                    ></span>
                    Submit
                  </button>

                  <button type="button" mat-raised-button color="primary" data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="message.function_type=='X-Cancel'">
                    Delete
                  </button>

              </div>
          </div>

      </form>
    </div>
</mat-card>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

 
