<mat-card>
    <div *ngIf="loading" >
        <p><small>loading, Please wait...</small></p>
        <p><mat-progress-bar mode="query"></mat-progress-bar></p>
      </div>
    <mat-card-header class="breadcrumb">
        <div>Home/Customers/Retail/data/view</div>
    </mat-card-header>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h4>Function</h4>
            <p>{{this.function_type}}</p>
        </div>
        <div class="col-md-6 col-sm-12">
            <h4>Customer Code</h4>
            <p>{{this.customerCode}}</p> 
    </div>
    
    </div>
    <mat-divider></mat-divider>
    <br>
    <div class="container-fluid">
        <br>
        <form action="" class="form" [formGroup]="formData" novalidate (ngSubmit)="onSubmit()">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab class="mat-tab" label="General Details">
                    <br>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label class="start pull-left">First Name<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input maxlength="20" type="text" formControlName="firstName" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                </div>
                            </div>
                        </div>
                          <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label class="start pull-left">Middle Name<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input maxlength="20" type="text" formControlName="middleName" class="form-control" oninput="this.value=this.value.toUpperCase()">  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label class="start pull-left">Surname<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input maxlength="20" type="text" formControlName="surname" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                </div>
                            </div>
                        </div>
                          <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label class="start pull-left">Prefered Name<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input maxlength="20" type="text" formControlName="surname" class="form-control" oninput="this.value=this.value.toUpperCase()">
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label class="start pull-left">Gender<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <mat-radio-group class="pull-right" aria-label="Select an option" formControlName="gender">
                                        <mat-radio-button value="MALE">MALE</mat-radio-button>
                                        <mat-radio-button value="FEMALE">FEMALE</mat-radio-button>
                                      </mat-radio-group>
                                </div>
                            </div>
                        </div>
                          <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label class="start pull-left">Date of Birth<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input  [matDatepicker]="ppicker" formControlName="dob" class="form-control" />
                                    <mat-datepicker-toggle *ngIf="isEnabled" matSuffix [for]="ppicker"></mat-datepicker-toggle>
                                    <mat-datepicker #ppicker></mat-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label class="start pull-left">Citizen<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <mat-radio-group class="pull-right" aria-label="Select an option" formControlName="citizen">
                                        <mat-radio-button value="Y">YES</mat-radio-button>
                                        <mat-radio-button value="N">NO</mat-radio-button>
                                      </mat-radio-group>
                                </div>
                            </div>
                        </div>
                          <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label class="start pull-left">Birth Certificate No.<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input maxlength="15" type="text" formControlName="birthCertificate" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label class="start pull-left">National ID <span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input maxlength="8" type="text" formControlName="identificationNo" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                </div>
                            </div>
                        </div>
                          <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label class="start pull-left">KRA Pin.<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input maxlength="11" type="text" formControlName="kraPin" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label class="start pull-left">Minor <span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <mat-radio-group class="pull-right" aria-label="Select an option" formControlName="minor">
                                        <mat-radio-button value="Y">YES</mat-radio-button>
                                        <mat-radio-button value="N">NO</mat-radio-button>
                                      </mat-radio-group>
                                </div>
                            </div>
                        </div>
                          <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label class="start pull-left">Passport No<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input maxlength="15" type="text" formControlName="passportNo" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Segment<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <select formControlName="segment" (change)="onInputSelection($event)" class="form-control">
                                        <option value="" disabled>--Select a segment--</option>
                                        <option *ngFor="let item of this.segmentData" [value]="item.segmentCode">{{item.segmentDescription}}</option>       
                                     </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Sub-Segment<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <select formControlName="subSegment" class="form-control">
                                        <option value="" disabled>--Select a sub segment--</option>
                                        <option *ngFor="let item of subSegments" [value]="item.subSegmentCode">{{item.subSegmentDescription}}</option>  
                                     </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label class="start pull-left">Branch Code <span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input [attr.disabled]="true" maxlength="6" type="text" [value]="this.solCode" formControlName="solCode" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                    <mat-icon (click)=" branchesCodeLookup()">search</mat-icon>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <mat-hint><small>{{this.solDescription}}</small></mat-hint>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                 </mat-tab>
                <mat-tab class="mat-tab" label="Contact Information">
                    <br>
                    <div *ngFor=" let form of cinfol.controls; let i = index">
                        <div [formGroup]="form">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                  <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Phone Number<span class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="12" type="text" formControlName="phoneNumber" class="form-control">
                                    </div>
                                  </div>
                               </div>
                               <div class="col-md-6 col-sm-12">
                                   <div class="form-group">
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <label for="" class="start pull-left">Email Address<span class="warning">*</span></label>
                                       </div>
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <input maxlength="20" type="text" formControlName="emailAddress" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                       </div>
                                   </div>
                               </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                  <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Postal Address<span class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="20" type="text" formControlName="boxOfficeNo" class="form-control">
                                    </div>
                                  </div>
                               </div>
                               <div class="col-md-6 col-sm-12">
                                   <div class="form-group">
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <label for="" class="start pull-left">Residential<span class="warning">*</span></label>
                                       </div>
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <input maxlength="20" type="text" formControlName="residentialTown" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                       </div>
                                   </div>
                               </div> 
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab class="mat-tab" label="Next of Kin">
                    <br>
                    <div *ngFor=" let form of k.controls; let i = index">
                        <div [formGroup]="form">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                  <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">First Name<span class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="20" type="text" formControlName="firstName" class="form-control">
                                    </div>
                                  </div>
                               </div>
                               <div class="col-md-6 col-sm-12">
                                   <div class="form-group">
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <label for="" class="start pull-left">Middle Name<span class="warning">*</span></label>
                                       </div>
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <input maxlength="20" type="text" formControlName="middleName" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                       </div>
                                   </div>
                               </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                  <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Surname<span class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="20" type="text" formControlName="surname" class="form-control">
                                    </div>
                                  </div>
                               </div>
                               <div class="col-md-6 col-sm-12">
                                   <div class="form-group">
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <label for="" class="start pull-left">Relationship<span class="warning">*</span></label>
                                       </div>
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <input maxlength="20" type="text" formControlName="relationship" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                       </div>
                                   </div>
                               </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                  <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Phone Number<span class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="12" type="text" formControlName="phoneNo" class="form-control">
                                    </div>
                                  </div>
                               </div>
                               <div class="col-md-6 col-sm-12">
                                   <div class="form-group">
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <label for="" class="start pull-left">Email Address<span class="warning">*</span></label>
                                       </div>
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <input maxlength="20" type="text" formControlName="emailAddress" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                       </div>
                                   </div>
                               </div> 
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                  <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Date of Birth<span class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input [matDatepicker]="ppicker" formControlName="dob" class="form-control" />
                                        <mat-datepicker-toggle *ngIf="isEnabled" matSuffix [for]="ppicker"></mat-datepicker-toggle>
                                        <mat-datepicker #ppicker></mat-datepicker>
                                    </div>
                                  </div>
                               </div>
                               <div class="col-md-6 col-sm-12">
                                   <!-- <div class="form-group">
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <label for="" class="start pull-left">Email Address<span class="warning">*</span></label>
                                       </div>
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <input type="text" formControlName="residentialTown" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                       </div>
                                   </div> -->
                               </div> 
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab class="mat-tab" label="Nominees">
                    <br>
                    <div *ngFor=" let form of n.controls; let i = index">
                        <div [formGroup]="form">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                  <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">First Name<span class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="20" type="text" formControlName="firstName" class="form-control">
                                    </div>
                                  </div>
                               </div>
                               <div class="col-md-6 col-sm-12">
                                   <div class="form-group">
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <label for="" class="start pull-left">Middle Name<span class="warning">*</span></label>
                                       </div>
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <input maxlength="20" type="text" formControlName="middleName" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                       </div>
                                   </div>
                               </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                  <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Last Name<span class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="20" type="text" formControlName="lastName" class="form-control">
                                    </div>
                                  </div>
                               </div>
                               <div class="col-md-6 col-sm-12">
                                   <div class="form-group">
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <label for="" class="start pull-left">National ID<span class="warning">*</span></label>
                                       </div>
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <input maxlength="8" type="text" formControlName="identificationNo" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                       </div>
                                   </div>
                               </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                  <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Phone Number<span class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="12" type="text" formControlName="phone" class="form-control">
                                    </div>
                                  </div>
                               </div>
                               <div class="col-md-6 col-sm-12">
                                   <div class="form-group">
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <label for="" class="start pull-left">Email Address<span class="warning">*</span></label>
                                       </div>
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <input maxlength="20" type="text" formControlName="emailAddress" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                       </div>
                                   </div>
                               </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                  <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Date of Birth<span class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input [matDatepicker]="ppicker" formControlName="dob" class="form-control" />
                                        <mat-datepicker-toggle *ngIf="isEnabled" matSuffix [for]="ppicker"></mat-datepicker-toggle>
                                        <mat-datepicker #ppicker></mat-datepicker>
                                    </div>
                                  </div>
                               </div>
                               <div class="col-md-6 col-sm-12">
                                   <!-- <div class="form-group">
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <label for="" class="start pull-left">Email Address<span class="warning">*</span></label>
                                       </div>
                                       <div class="col-md-6 col-sm-12 form-column">
                                           <input type="text" formControlName="residentialTown" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                       </div>
                                   </div> -->
                               </div> 
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab class="mat-tab" label="Customer Photos">
                    <br>
                    <div *ngFor=" let form of cimgl.controls; let i = index">
                        <div [formGroup]="form">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-12 form-column">
                                            <label for="" class="start pull-left">Image Type<span class="warning">*</span></label>
                                        </div>
                                        <div class="col-md-6 col-sm-12 form-column">
                                            <select formControlName="image_name" class="form-control"  >
                                                <option disabled>--Select--</option>
                                                <option *ngFor="let item of imageTypeArray" [value]="item">{{item}}</option>
                                            </select>
                                        </div>
                                      </div>
                               </div>
                               <div class="col-md-6 col-sm-12">
                                   <div class="form-group">
                                       <div class="col-md-12 col-sm-12 form-column">
                                        <input  class="form-controls" type="file" required (change)="onSignaturePhotoChange($event, i)">
                                       </div>
                                   </div>
                                   <div class="form-group">
                                    <mat-hint><small>Only png, jpeg accepted</small></mat-hint>
                                   </div>
                                   <div class="form-group">
                                        <img [src]="form.controls.image.value" class="col-md-6 img-preview"/>
                                </div>
                               </div> 
                            </div>
                        </div>
                        <br>
                        
                    </div>

                </mat-tab>
            </mat-tab-group>
            <br>
            <button mat-raised-button color="default" routerLink="../../maintenance" skipLocationChange  type="submit">Back</button>
            <button mat-raised-button color="primary" type="submit" class="pull-right" >Submit</button>
            <button mat-raised-button color="warn" type="submit" class="pull-right" *ngIf="isDeleted">Delete</button>
        </form>
    </div>
</mat-card>



  