
  <mat-card>
    <mat-card-header  class="breadcrumb">
      <div>Home/Configuration/Interest/Hlvsm/</div>
  </mat-card-header>
  <div class="row">
    <div class="col-md-4 col-sm-12">
        <h4>Function</h4>
        <p>{{this.function_type}}</p>
    </div>
    <div class="col-md-4 col-sm-12">
        <h4>Int.Tbl.Code</h4>
        <p>{{this.int_tbl_code}}</p> 
    </div>
    <div class="col-md-4 col-sm-12">
        <h4>Int.Tbl.CCY</h4>
        <p>{{ this.int_tbl_ccy}}</p>
    </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-12">
      <h4>Base Indicator</h4>
      <p>{{this.base_indicator}}</p>
  </div>
  <div class="col-md-4 col-sm-12">
      <h4>Version</h4>
      <p>{{this.version}}</p> 
  </div>
  </div>
  <mat-divider></mat-divider>
  <br>
  
  <div class="container-fluid">
    
    <form
    class="form"
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
    #resetRequestsForm="ngForm"
    novalidate
  >
  <mat-tab-group mat-align-tabs="center">
    <mat-tab class="mat-tab" label="General Details">
        <br>
        <div class="row">
          <div class="col-md-6 col-sm-12">
                 <div class="form-group">
                   <div class="col-md-6 col-sm-12 form-column ">
                    <label class="start pull-left">Start Date <span class="warning">*</span></label>
                   </div>
                   <div class="col-md-6 col-sm-12 form-column "> 
                       <input matInput [matDatepicker]="spicker" formControlName="start_date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.start_date.errors }"  />
                      <mat-datepicker-toggle *ngIf="isEnabled" matSuffix [for]="spicker"></mat-datepicker-toggle>
                      <mat-datepicker #spicker></mat-datepicker>
                   </div>
                </div>        
          </div>
          <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column ">
                 <label class="start pull-left">End Date <span class="warning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column ">
                  <input  matInput [matDatepicker]="epicker" formControlName="end_date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.end_date.errors }"  />
                 <mat-datepicker-toggle *ngIf="isEnabled"  matSuffix [for]="epicker"></mat-datepicker-toggle>
                 <mat-datepicker   #epicker></mat-datepicker>
                </div>
             </div> 
          </div>
      </div> 

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <div class="col-md-6 col-sm-12 form-column ">
               <label class="start pull-left">Base Int Code<span class="warning">*</span></label>
              </div>
              <div class="col-md-6 col-sm-12 form-column ">
               <input type="text" formControlName="base_int_code" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.base_int_code.errors }" />
               <!-- <mat-icon *ngIf="isEnabled" (click)="accountLookup()">search</mat-icon> -->
            </div>
           </div> 
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column ">
                 <label class="start pull-left">Base Int Pcnt Cr<span class="warning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column ">
                 <input type="text" formControlName="base_int_pcnt_cr" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.base_int_pcnt_cr.errors }" />
                </div>
             </div>   
          </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column ">
                 <label class="start pull-left">Base Int Pcnt Dr<span class="warning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column ">
                 <input type="text" formControlName="base_int_pcnt_dr" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.base_int_pcnt_dr.errors }" />
                </div>
             </div> 
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column ">
                 <label class="start pull-left">Version Desc</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <textarea formControlName="version_desc" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.version_desc.errors }"></textarea>
                </div>
             </div>    
            </div>
          </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column ">
                 <label class="start pull-left">Version Desc. For Reports<span class="warning">*</span></label>
                </div>
                <div class="col-md-6 col-sm-12 form-column ">
                 <input type="text" formControlName="version_desc_repo" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.version_desc_repo.errors }" />
                </div>
             </div> 
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Additional Version Info.</label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column">
                    <textarea formControlName="add_version_info" class="pull-right form-control" [ngClass]="{ 'is-invalid': submitted && f.add_version_info.errors }"></textarea>
                  </div>
               </div>     
            </div>
          </div>
       
    </mat-tab>

    <!--- Begining of Debit Details -->
    <mat-tab label="Debit Details">
      <mat-checkbox class="example-margin" formControlName="have_debit">Have Debit</mat-checkbox>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                   <div class="form-group">
                     <div class="col-md-6 col-sm-12 form-column ">
                      <label class="start pull-left">Loan Period Month/Days<span class="warning">*</span></label>
                     </div>
                     <div class="col-md-6 col-sm-12 form-column ">
                      <input  type="text" formControlName="db_loan_p_mnth" class="form-control form-control-sub" [ngClass]="{ 'is-invalid': submitted && f.db_loan_p_mnth.errors }" />
                      <input  type="text" formControlName="db_loan_p_dys" class="form-control form-control-sub" [ngClass]="{ 'is-invalid': submitted && f.db_loan_p_dys.errors }" />
                     </div>
                  </div>           
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">Period Ind. <span class="warning">*</span></label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column ">
                   <input  type="text" formControlName="db_period_ind" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.db_period_ind.errors }" />
                  </div>
               </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                   <div class="form-group">
                     <div class="col-md-6 col-sm-12 form-column ">
                      <label class="start pull-left">Begin Slab Amt<span class="warning">*</span></label>
                     </div>
                     <div class="col-md-6 col-sm-12 form-column ">
                      <input  type="text" formControlName="db_begin_slab_amt" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.db_begin_slab_amt.errors }" />
                     </div>
                  </div>           
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="col-md-6 col-sm-12 form-column ">
                   <label class="start pull-left">End Slab Amt<span class="warning">*</span></label>
                  </div>
                  <div class="col-md-6 col-sm-12 form-column ">
                   <input  type="text" formControlName="db_end_slab_amt" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.db_end_slab_amt.errors }" />
                  </div>
               </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <div class="col-md-6 col-sm-12 form-column ">
                     <label class="start pull-left">Normal</label>
                    </div>
                    <div class="col-md-6 col-sm-12 form-column">
                      <mat-radio-group class="pull-right" aria-label="Select an option" formControlName="db_normal">
                        <mat-radio-button value="None">None.</mat-radio-button>
                        <mat-radio-button value="Full">Full.</mat-radio-button>
                        <mat-radio-button value="Differential">Differential.</mat-radio-button>
                      </mat-radio-group>
                    </div>
                 </div>            
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <div class="col-md-6 col-sm-12 form-column ">
                     <label class="start pull-left">Penal</label>
                    </div>
                    <div class="col-md-6 col-sm-12 form-column">
                      <mat-radio-group class="pull-right" aria-label="Select an option" formControlName="db_penal">
                        <mat-radio-button value="None">None.</mat-radio-button>
                        <mat-radio-button value="Full">Full.</mat-radio-button>
                        <mat-radio-button value="Differential">Differential.</mat-radio-button>
                      </mat-radio-group>
                    </div>
                 </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <div class="col-md-6 col-sm-12 form-column ">
                    </div>
                    <div class="col-md-6 col-sm-12 form-column">
                     <input  type="text" formControlName="db_normal_int_amt" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.db_normal_int_amt.errors }" />
                    </div>
                 </div>            
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <div class="col-md-6 col-sm-12 form-column ">
                    </div>
                    <div class="col-md-6 col-sm-12 form-column">
                     <input  type="text"  formControlName="db_penal_int_amt" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.db_penal_int_amt.errors }" />
                    </div>
                 </div>  
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <div class="col-md-6 col-sm-12 form-column ">
                     <label class="start pull-left">Record</label>
                    </div>
                    <div class="col-md-6 col-sm-12 form-column">
                      <mat-radio-group class="pull-right" aria-label="Select an option" formControlName="db_record">
                        <mat-radio-button value="Y">Yes.</mat-radio-button>
                        <mat-radio-button value="N">No.</mat-radio-button>
                        <mat-radio-button value="N/A">None.</mat-radio-button>
                      </mat-radio-group>
                    </div>
                 </div>            
            </div>
            <div class="col-md-6 col-sm-12">
            </div>
        </div>       
    </mat-tab>
  </mat-tab-group>
    <br />
    <button *ngIf="isEnabled" class="pull-right" mat-raised-button color="primary" type="submit">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Submit
    </button>
    <br />
  </form>
    </div>
  </mat-card>
  
  
  
  
  