<mat-card>
  <mat-card-header class="breadcrumb">
    <div>
      <a routerLink="/system" >Dashboard / </a>
      <a routerLink="/system/configurations/global/exceptions-codes/maintenance" >Exception Maintenance / </a>Exception
    </div>
  </mat-card-header>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h4>Function</h4>
      <p>{{this.function_type}}</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h4>Exception Code</h4>
      <p>{{this.exception_code}}</p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <br>

  <div class="container-fluid">
    <form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()" #resetRequestsForm="ngForm" novalidate>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <div class="col-md-6 col-sm-12 form-column ">
              <label class="start pull-left">Description</label>
            </div>
            <div class="col-md-6 col-sm-12 form-column">
              <input type="text" maxlength="60" formControlName="exce_description"
                oninput="this.value=this.value.toUpperCase()" class="pull-right form-control"
                [ngClass]="{ 'is-invalid': submitted && f.exce_description.errors }" />
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <div class="col-md-6 col-sm-12 form-column ">
              <label class="start pull-left">Code Type</label>
            </div>
            <div class="col-md-6 col-sm-12 form-column">
              <mat-radio-group class="pull-right" aria-label="Select an option" formControlName="exce_code_type"
                [ngClass]="{ 'is-invalid': submitted && f.exce_code_type.errors }">
                <mat-radio-button value="Exception">Exception.</mat-radio-button>
                <mat-radio-button value="Error">Error.</mat-radio-button>
                <mat-radio-button value="Warning">Warning.</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <div class="col-md-6 col-sm-12 form-column ">
              <label class="start pull-left">Work Class Role</label>
            </div>
            <div class="col-md-6 col-sm-12 form-column">
              <input type="text" maxlength="60" formControlName="exce_work_class_role"
                oninput="this.value=this.value.toUpperCase()" class="pull-right form-control" />
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <div class="col-md-6 col-sm-12 form-column ">
              <label class="start pull-left">Ignore Exception in Exception Overriding Events</label>
            </div>
            <div class="col-md-6 col-sm-12 form-column">
              <mat-radio-group class="pull-right" aria-label="Select an option"
                formControlName="exce_ignore_exce_overriding_events"
                [ngClass]="{ 'is-invalid': submitted && f.exce_ignore_exce_overriding_events.errors }">
                <mat-radio-button value="Yes">Yes</mat-radio-button>
                <mat-radio-button value="No">No.</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>
      <br />
      <button class="pull-left" routerLink="../../maintenance" skipLocationChange mat-raised-button color="default"
        type="button">
        Back
      </button>
      <button *ngIf="isEnabled" class="pull-right" mat-raised-button color="primary" type="submit">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Submit
      </button>
      <button *ngIf="isDeleting" class="pull-right" mat-raised-button color="warn" type="submit">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Delete
      </button>
      <br />
    </form>
  </div>
</mat-card>