<mat-card>
    <div *ngIf="loading" >
        <p><small>Loading, please wait...</small></p>
        <p><mat-progress-bar mode="query"></mat-progress-bar></p>
      </div>
    <mat-card-header class="breadcrumb">
        <div>Home/System/Share-Capital</div>
    </mat-card-header>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h4>Function</h4>
            <p>{{this.function_type}}</p>
        </div>
        <div class="col-md-6 col-sm-12">
            <h4>Customer Code</h4>
            <p>{{this.cust_code}}</p> 
         </div>
     </div>
     <div class="row">
         <div class="col-md-6 col-sm-12">
            <h4>Customer Name</h4>
            <p>{{this.cust_name}}</p>
         </div>
        
     </div>
   

    <mat-divider></mat-divider>
    <br>
    <div class="container-fluid">
        <form action="" (ngSubmit)="onSubmit()" 
        novalidate
        [formGroup]="formData">
      
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <div class="col-md-6 col-sm-12 form-column">
                        <label for="" class="start pull-left">Shares<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-sm-12 form-column">
                        <input type="number" class="form-control" formControlName="shares">
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <div class="col-md-6 col-sm-12 form-column">
                        <label for="" class="start pull-left">Shares Capital Amount<span class="warning">*</span></label>
                    </div>
                    <div class="col-md-6 col-sm-12 form-column">
                        <input type="number" formControlName="share_capital_amount" class="form-control">
                    </div>

                </div>
            </div>
        </div>
      

        <br>
        <button mat-raised-button class="pull-left" color="default" type="submit" routerLink="../../maintenance">Back</button>
        <button mat-raised-button class="pull-right" color="primary" type="submit">Buy</button>

        </form>
    </div>
</mat-card>
