<mat-card>
    <mat-card-header class="breadcrumb">
        <div>Office Account</div>
    </mat-card-header>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h4>Function</h4>
            <p>{{this.function_type}}</p>
        </div>
        <div class="col-md-6 col-sm-12">
            <h4>Account Code</h4>
            <p>{{this.account_code}}</p>
          </div>
    </div>
   
      <div class="row">
        <!-- <div class="col-md-6 col-sm-12">
          <h4>Account Type</h4>
          <p>{{message.account_type}}</p>
        </div> -->
        <div class="col-md-6 col-sm-12">
          <h4>Customer Type</h4>
          <p>{{this.customer_type}}</p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <br>
      <div class="container-fluid">
          <form action="" [formGroup]="formData" novalidate (ngSubmit)="onSubmit()">
              <mat-tab-group mat-align-tabs="center">
                <mat-tab class="mat-tab container-fluid" label="General Details">
                    <br>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Account Manager<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="accountManager" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    <mat-icon (click)="customerLookup()">search</mat-icon>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Account Name<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="accountName" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    <!-- <mat-icon (click)="customerLookup()">search</mat-icon> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Account Ownership<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="accountOwnership" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    <mat-icon (click)="customerLookup()">search</mat-icon>
                                </div>
                            </div>
                        </div>
                    
                    </div> -->
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Branch Code<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="solCode" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    <mat-icon (click)="branchSubheadLookup()">search</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Currency(CCY)<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="currency" maxlength="3" class="form-control">
                                    <mat-icon (click)="currencyLookup()">search</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Customer Code<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="customerCode" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    <mat-icon (click)="customerLookup()">search</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Opening Date<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input [matDatepicker]="opicker" formControlName="openingDate"
                                        class="form-control" />
                                    <mat-datepicker-toggle *ngIf="isEnabled" matSuffix [for]="opicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #opicker></mat-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                         <div class="col-md-6 col-sm-12">
                             <div class="form-group">
                                 <div class="col-md-6 col-sm-12 form-column">
                                     <label for="" class="start pull-left">Scheme Code<span></span>*</label>
                                 </div>
                                 <div class="col-md-6 col-sm-12 form-column">
                                     <input type="text" formControlName="schemeCode" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                     <mat-icon (click)="sbaSchemeCodeLookup()">search</mat-icon>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <div class="col-md-6 col-sm-12 form-column">

                                 </div>
                                 <div class="col-md-6 col-sm-12 form-column">
                                     <mat-hint>{{sba_scheme_code_desc}}</mat-hint>
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Gl Subhead<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="glSubhead" class="form-control" oninput="this.value=this.value.toUpperCase()">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column"></div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <mat-hint>{{sbagith_gl_subhead_description}}</mat-hint>
                                </div>
                            </div>
                        </div>
                     </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Sector Code<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <select formControlName="sectorCode" (change)="onInputSelection($event)"
                                        class="form-control">
                                        <option value="" disabled>-- Select MIS Sector Code --</option>
                                        <option *ngFor="let item of this.sectorData " [value]="item.miscode">
                                            {{item.mis_sector}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Sub Sector Code<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <select formControlName="subSectorCode" class="form-control">
                                        <option value="" disabled>--Select a MIS Sub Sector</option>
                                        <option *ngFor="let item of subSectors " [value]="item.missubcode">
                                            {{item.mis_sub_sector_desc}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Cash Exception Limit Dr.<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="cashExceptionLimitDr" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Cash Exception Limit Cr.<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="cashExceptionLimitCr" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Transfer Exception Limit Dr.<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="transferExceptionLimitDr"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Transfer Exception Limit Cr.</label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="transferExceptionLimitCr"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Account Statement<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="accountStatement"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Statement Frequency<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <select formControlName="statementFreq" class="form-control">
                                        <option *ngFor="let item of statementFreqArray" [value]="item">{{item}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Dispatch Mode<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <select formControlName="dispatchMode" class="form-control">
                                        <option *ngFor="let item of despatch_mode_array" [value]="item">{{item}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column ">
                                    <label class="start pull-left">Withholding Tax</label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column ">
                                    <mat-radio-group name="citizen" formControlName="withholdingTax">
                                        <mat-radio-button color="primary" value=True>Yes</mat-radio-button>
                                        <mat-radio-button color="primary" value=False>No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Account Status<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <select formControlName="accountStatus" class="form-control">
                                        <option *ngFor="let item of accountStatusArray" [value]="item">{{item}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
              </mat-tab-group>
          </form>
      </div>
</mat-card>