mat-form-field {
    margin-right: 150px;
}

.items {
    justify-content: center;
    display: flex;
}

mat-card {
    margin-top: 3px;
    // background-color: aliceblue;
    // font-weight: bolder;
    justify-content: center;
    align-items: center;
    width: 960px;
    height: fit-content;
}

.breadcrumb-item {
    justify-content: center;
    align-items: center;
}

button {
    margin: 5px 5px 5px 0;
}

// mat-card-title {
//     // font-weight: bolder;
//     justify-content: center;
//     display: flex;
//     margin-bottom: 5px;
// }
.container-fluid {
    // justify-content: center;
    display: flex;
}

.content-container {
    justify-content: left;
    // margin-right: 30%;
    margin-left: 10%;
    // display: inline;
}