<!-- add -->
<mat-card class="container-fluid" *ngIf="code.type=='A-Add'">
  <mat-card-header class="breadcrumb">
    <div>Home/Interests/</div>
  </mat-card-header>
  <div class="row container-fluid">
    <div class="col-md-6 col-sm-12">
      <h4>Function</h4>
      <p>{{code.type}}</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h4>Interest Code</h4>
      <p>{{code.code}}</p>
    </div>
  </div>
    <mat-divider></mat-divider>
    <form class="form" (ngSubmit)="submitInterest()" >
      <div class="container-fluid mt-4">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >Interest Code<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input name="interestCode" readonly oninput ="this.value=this.value.toUpperCase()" maxlength="6"
                [(ngModel)]="interestCode" type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >Currency<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input name="currency" oninput ="this.value=this.value.toUpperCase()"
                [(ngModel)]="currency" type="text" class="form-control" />
                <mat-icon (click)="currencyLookup()">search</mat-icon>
                {{this.currency_name}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >Start Date<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input name="startDate"
                [(ngModel)]="startDate" type="date" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >End Date<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input name="endDate"
                [(ngModel)]="endDate" type="date" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >Full/Differential<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <select name="fullDiff" class="form-control"
                [(ngModel)]="fullDiff">
                  <option value="F" selected>FULL</option>
                  <option value="D">DIFFERENTIAL</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                >Penal Interest<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input name="penalInterest" min="0" max="100" step=".01"
                       [(ngModel)]="penalInterest" type="number" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div>
          <h4 class="text-center">Credit Amount Slabs</h4>
          <div class="row" class="row" *ngIf="fullDiff=='F'">
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label
                  for="acname"
                  class="col-md-5 col-form-label col-form-label-sm text-left"
                  >From</label
                >
                <div class="col-md-7">
                  <input type="number" step=".01" readonly class="form-control"  name="cfrom"
                  [(ngModel)]="cfrom"/>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >To</label
                >
                <div class="col-md-7">
                  <input type="number" step=".01" readonly class="form-control" name="cto"
                  [(ngModel)]="cto"/>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >Rate</label
                >
                <div class="col-md-7">
                  <input
                    type="number"
                    step=".01"
                    required
                    class="form-control"
                    name="crate"
                  [(ngModel)]="crate"
                  />
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="fullDiff=='D'">
          <div *ngFor="let c of cslabs; let i=index">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label
                  for="acname"
                  class="col-md-5 col-form-label col-form-label-sm text-left"
                  >From</label
                >
                <div class="col-md-7">
                  <input type="number" readonly step=".01" class="form-control"  name="cfrom{{i}}"
                  [(ngModel)]="c.fromAmount"/>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >To</label
                >
                <div class="col-md-7">
                  <input type="number" required step=".01" class="form-control"  name="cto{{i}}"
                  [(ngModel)]="c.toAmount"/>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >Rate</label
                >
                <div class="col-md-7">
                  <input
                    type="number"
                    step=".01"
                    required
                    class="form-control"
                    name="crate{{i}}"
                    [(ngModel)]="c.rate"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row" *ngIf="i==clength-1 && fullDiff=='D'">
                <div class="col-md-2 col-6">
                  <mat-icon *ngIf="clength>1" (click)="removeCSlab()">remove_circle</mat-icon>
                </div>
                <div class="col-md-2 col-6">

                <mat-icon (click)="addCSlab()">add_circle</mat-icon>
                </div>
              </div>
            </div>

          </div>
          </div>
        </div>
        </div>
        <mat-divider></mat-divider>
        <div>
          <h4 class="text-center">Debit Amount Slabs</h4>

          <div class="row" *ngIf="fullDiff=='F'">
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label
                  for="acname"
                  class="col-md-5 col-form-label col-form-label-sm text-left"
                  >From</label
                >
                <div class="col-md-7">
                  <input type="number" readonly step=".01" class="form-control" name="dfrom"
                  [(ngModel)]="dfrom"/>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >To</label
                >
                <div class="col-md-7">
                  <input type="number" step=".01" readonly class="form-control" name="dto"
                  [(ngModel)]="dto"/>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >Rate</label
                >
                <div class="col-md-7">
                  <input
                    type="number"
                    step=".01"
                    required
                    class="form-control"
                    name="drate"
                  [(ngModel)]="drate"
                  />
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="fullDiff=='D'">
         <div *ngFor="let d of dslabs; let i=index">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label
                  for="acname"
                  class="col-md-5 col-form-label col-form-label-sm text-left"
                  >From</label
                >
                <div class="col-md-7">
                  <input type="number" readonly step=".01" class="form-control"  name="dfrom{{i}}"
                  [(ngModel)]="d.fromAmount"/>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >To</label
                >
                <div class="col-md-7">
                  <input type="number" required class="form-control" step=".01" name="dto{{i}}"
                  [(ngModel)]="d.toAmount"/>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >Rate</label
                >
                <div class="col-md-7">
                  <input
                    type="number"
                    step=".01"
                    required
                    class="form-control"
                    name="drate{{i}}"
                    [(ngModel)]="d.rate"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row"  *ngIf="i==dlength-1 && fullDiff=='D'">
                <div class="col-md-2 ">
                  <mat-icon *ngIf="dlength>1" (click)="removeDSlab()">remove_circle</mat-icon>
                </div>
                <div class="col-md-2 ">
                  <mat-icon (click)="addDSlab()">add_circle</mat-icon>
                </div>
              </div>
            </div>

          </div>
          </div>
          </div>
        </div>

        <div class="row container-fluid mt-4">
          <div class="col-md-1 offset-md-10 col-4">
            <button
              mat-raised-button
              color="warn"
              class="btn go mx-auto d-block"
              type="reset"
            >
              Reset
            </button>
          </div>

          <div class="col-md-1 col-4">
            <button
              mat-raised-button
              class="btn bg-success go mx-auto d-block text-light"
              type="submit"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-card>


  <!-- inquire -->

  <mat-card class="container-fluid" *ngIf="code.type=='I-Inquire'" >
    <mat-card-header class="breadcrumb">
      <div>Home/Configuration/Accounts/Accounts/</div>
    </mat-card-header>
    <div class="row container-fluid">
      <div class="col-md-6 col-sm-12">
        <h4>Function</h4>
        <p>{{code.type}}</p>
      </div>
      <div class="col-md-6 col-sm-12">
        <h4>Interest Code</h4>
        <p>{{code.code}}</p>
      </div>
    </div>

    <mat-divider></mat-divider>
    <form class="form">
      <div class="container-fluid mt-4">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >Interest Code<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input readonly name="interestCode" oninput ="this.value=this.value.toUpperCase()"
                type="text" class="form-control" [(ngModel)]="rinterest.interestCode"/>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >Currency<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input readonly name="currency" oninput ="this.value=this.value.toUpperCase()"
               type="text" class="form-control" [(ngModel)]="rinterest.currency"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >Start Date<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input readonly name="startDate"
                type="date" class="form-control" [(ngModel)]="rinterest.startDate"/>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >End Date<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input readonly name="endDate"
                type="date" class="form-control" [(ngModel)]="rinterest.endDate"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >Full/Differential<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <select name="fullDiff" disabled [(ngModel)]="rinterest.fullDiff" class="form-control"
                >
                  <option value="F" selected>FULL</option>
                  <option value="D">DIFFERENTIAL</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                >Penal Interest<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input name="penalInterest" min="0" max="100" readonly step=".01"
                       [(ngModel)]="rinterest.penalInterest" type="number" class="form-control" />
              </div>
            </div>
          </div>
        </div>

        <mat-divider></mat-divider>
        <div>
          <h4 class="text-center">Credit Amount Slabs</h4>

          <div>
          <div *ngFor="let c of rcSlabs; let i=index">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label
                  for="acname"
                  class="col-md-5 col-form-label col-form-label-sm text-left"
                  >From</label
                >
                <div class="col-md-7">
                  <input readonly type="number" step=".01" readonly class="form-control"  name="cfrom{{i}}" [(ngModel)]="c.fromAmount"
                  />
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >To</label
                >
                <div class="col-md-7">
                  <input readonly type="number" step=".01" required class="form-control"  name="cto{{i}}"
                  [(ngModel)]="c.toAmount"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >Rate</label
                >
                <div class="col-md-7">
                  <input readonly
                    type="number"
                    step=".01"
                    required
                    class="form-control"
                    name="crate{{i}}"
                    [(ngModel)]="c.rate"
                  />
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        </div>
        <mat-divider></mat-divider>
        <div>
          <h4 class="text-center">Debit Amount Slabs</h4>

          <div >
         <div *ngFor="let d of rdSlabs; let i=index">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label
                  for="acname"
                  class="col-md-5 col-form-label col-form-label-sm text-left"
                  >From</label
                >
                <div class="col-md-7">
                  <input readonly type="number" step=".01" readonly class="form-control"  name="dfrom{{i}}"
                  [(ngModel)]="d.fromAmount"
                 />
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >To</label
                >
                <div class="col-md-7">
                  <input readonly type="number" step=".01" required class="form-control"  name="dto{{i}}"
                  [(ngModel)]="d.toAmount"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >Rate</label
                >
                <div class="col-md-7">
                  <input readonly
                    type="number"
                    step=".01"
                    required
                    class="form-control"
                    name="drate{{i}}"
                    [(ngModel)]="d.rate"

                  />
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card>

  <!-- modify -->

  <mat-card class="container-fluid" *ngIf="code.type=='M-Modify'">
    <mat-card-header class="breadcrumb">
      <div>Home/Configuration/Accounts/Accounts/</div>
    </mat-card-header>
    <div class="row container-fluid">
      <div class="col-md-6 col-sm-12">
        <h4>Function</h4>
        <p>{{code.type}}</p>
      </div>
      <div class="col-md-6 col-sm-12">
        <h4>Interest Code</h4>
        <p>{{code.code}}</p>
      </div>
    </div>

    <mat-divider></mat-divider>
    <form class="form" (ngSubmit)="updateInterest()">
      <div class="container-fluid mt-4">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >Interest Code<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input name="interestCode" readonly oninput ="this.value=this.value.toUpperCase()" maxlength="6"
                type="text" class="form-control" [(ngModel)]="rinterest.interestCode"/>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >Currency<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input name="currency" oninput ="this.value=this.value.toUpperCase()"
               type="text" class="form-control" [(ngModel)]="rinterest.currency"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >Start Date<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input name="startDate"
                type="date" class="form-control" [(ngModel)]="rinterest.startDate"/>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >End Date<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input name="endDate"
                type="date" class="form-control" [(ngModel)]="rinterest.endDate"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >Full/Differential<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <select name="fullDiff" disabled [(ngModel)]="rinterest.fullDiff" class="form-control"
                >
                  <option value="F" selected>FULL</option>
                  <option value="D">DIFFERENTIAL</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                >Penal Interest<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input name="penalInterest" min="0" max="100" step=".01"
                       [(ngModel)]="rinterest.penalInterest" type="number" class="form-control" />
              </div>
            </div>
          </div>
        </div>

        <mat-divider></mat-divider>
        <div>
          <h4 class="text-center">Credit Amount Slabs</h4>

          <div>
          <div *ngFor="let c of rcSlabs; let i=index">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label
                  for="acname"
                  class="col-md-5 col-form-label col-form-label-sm text-left"
                  >From</label
                >
                <div class="col-md-7">
                  <input step=".01" readonly type="number" readonly class="form-control"  name="cfrom{{i}}" [(ngModel)]="c.fromAmount"
                  />
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >To</label
                >
                <div class="col-md-7">
                  <input step=".01" [readonly]="i!=clength-1" [required]="interest.fullDiff=='D'" [disabled]="rinterest.fullDiff=='F'" type="number" class="form-control"  name="cto{{i}}"
                  [(ngModel)]="c.toAmount"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >Rate</label
                >
                <div class="col-md-7">
                  <input
                    type="number"
                    step=".01"
                    required
                    class="form-control"
                    name="crate{{i}}"
                    [(ngModel)]="c.rate"
                  />
                </div>
              </div>
            </div>


  <div class="col-md-3">
    <div class="row container m-0 p-0 mb-2 mt-2" *ngIf="i==clength-1 && interest.fullDiff=='D'">
      <div class="col-md-1 offset-md-10 col-4">
        <button *ngIf="clength>1" type="button" class="btn btn-danger" (click)="removeCSlab()">-</button>
      </div>
      <div class="col-md-1 col-4">
        <button type="button" class="btn btn-success" (click)="addCSlab()">+</button>
      </div>
    </div>
  </div>


          </div>
          </div>
        </div>
        </div>
        <mat-divider></mat-divider>
        <div>
          <h4 class="text-center">Debit Amount Slabs</h4>

          <div >
         <div *ngFor="let d of rdSlabs; let i=index">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label
                  for="acname"
                  class="col-md-5 col-form-label col-form-label-sm text-left"
                  >From</label
                >
                <div class="col-md-7">
                  <input readonly type="number" step=".01" readonly class="form-control"  name="dfrom{{i}}"
                  [(ngModel)]="d.fromAmount"
                 />
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >To</label
                >
                <div class="col-md-7">
                  <input step=".01" [readonly]="i!=dlength-1" [required]="interest.fullDiff=='D'" [disabled]="interest.fullDiff=='F'" type="number" class="form-control"  name="dto{{i}}"
                  [(ngModel)]="d.toAmount"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >Rate</label
                >
                <div class="col-md-7">
                  <input
                    type="number"
                    step=".01"
                    required
                    class="form-control"
                    name="drate{{i}}"
                    [(ngModel)]="d.rate"

                  />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row container m-0 p-0 mt-2"  *ngIf="i==dlength-1 && interest.fullDiff=='D'">
                <div class="col-md-1 offset-md-10 col-4">
                  <button *ngIf="dlength>1" type="button" class="btn btn-danger" (click)="removeDSlab()">-</button>
                </div>
                <div class="col-md-1 col-4">
                  <button type="button" class="btn btn-success" (click)="addDSlab()">+</button>
                </div>
              </div>
            </div>



          </div>


          </div>
          </div>
        </div>

        <div class="row container-fluid mt-4">
            <div class="col-md-1 offset-md-11 col-4">
              <button
                mat-raised-button
                class="btn bg-success go mx-auto d-block text-light"
                type="submit"
              >
                Submit
              </button>
            </div>
          </div>
      </div>
    </form>
  </mat-card>



  <!-- delete -->

  <mat-card class="container-fluid" *ngIf="code.type=='X-Cancel'">
    <mat-card-header class="breadcrumb">
      <div>Home/Configuration/Accounts/Accounts/</div>
    </mat-card-header>
    <div class="row container-fluid">
      <div class="col-md-6 col-sm-12">
        <h4>Function</h4>
        <p>{{code.type}}</p>
      </div>
      <div class="col-md-6 col-sm-12">
        <h4>Interest Code</h4>
        <p>{{code.code}}</p>
      </div>
    </div>

    <mat-divider></mat-divider>
    <form class="form" (ngSubmit)="deleteInterest()">
      <div class="container-fluid mt-4">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >Interest Code<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input readonly name="interestCode" oninput ="this.value=this.value.toUpperCase()"
                type="text" class="form-control" [(ngModel)]="rinterest.interestCode"/>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >Currency<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input readonly name="currency" oninput ="this.value=this.value.toUpperCase()"
               type="text" class="form-control" [(ngModel)]="rinterest.currency"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >Start Date<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input readonly name="startDate"
                type="date" class="form-control" [(ngModel)]="rinterest.startDate"/>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >End Date<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input readonly name="endDate"
                type="date" class="form-control" [(ngModel)]="rinterest.endDate"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                  >Full/Differential<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <select name="fullDiff" disabled [(ngModel)]="rinterest.fullDiff"
                >
                  <option value="F" selected>FULL</option>
                  <option value="D">DIFFERENTIAL</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <div class="col-md-5 col-sm-12 form-column">
                <label class="form-label start pull-left"
                >Penal Interest<span class="warning">*</span></label
                >
              </div>
              <div class="col-md-6 col-8 form-column">
                <input name="penalInterest" min="0" max="100" readonly step=".01"
                       [(ngModel)]="rinterest.penalInterest" type="number" class="form-control" />
              </div>
            </div>
          </div>
        </div>

        <mat-divider></mat-divider>
        <div>
          <h4 class="text-center">Credit Amount Slabs</h4>

          <div>
          <div *ngFor="let c of rcSlabs; let i=index">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label
                  for="acname"
                  class="col-md-5 col-form-label col-form-label-sm text-left"
                  >From</label
                >
                <div class="col-md-7">
                  <input readonly type="number" readonly class="form-control"  name="cfrom{{i}}" [(ngModel)]="c.fromAmount"
                  />
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >To</label
                >
                <div class="col-md-7">
                  <input readonly type="number" required class="form-control"  name="cto{{i}}"
                  [(ngModel)]="c.toAmount"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >Rate</label
                >
                <div class="col-md-7">
                  <input readonly
                    type="number"
                    step=".01"
                    required
                    class="form-control"
                    name="crate{{i}}"
                    [(ngModel)]="c.rate"
                  />
                </div>
              </div>
            </div>

          </div>
          </div>
        </div>
        </div>
        <mat-divider></mat-divider>
        <div>
          <h4 class="text-center">Debit Amount Slabs</h4>

          <div >
         <div *ngFor="let d of rdSlabs; let i=index">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label
                  for="acname"
                  class="col-md-5 col-form-label col-form-label-sm text-left"
                  >From</label
                >
                <div class="col-md-7">
                  <input readonly type="number" readonly class="form-control" step=".01" name="dfrom{{i}}"
                  [(ngModel)]="d.fromAmount"
                 />
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >To</label
                >
                <div class="col-md-7">
                  <input readonly type="number" required class="form-control" step=".01" name="dto{{i}}"
                  [(ngModel)]="d.toAmount"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group row mt-1">
                <label for="acname" class="col-md-5 col-form-label text-left"
                  >Rate</label
                >
                <div class="col-md-7">
                  <input readonly
                    type="number"
                    step=".01"
                    required
                    class="form-control"
                    name="drate{{i}}"
                    [(ngModel)]="d.rate"

                  />
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
        </div>

        <div class="row container-fluid mt-4">
            <div class="col-md-1 offset-md-11 col-4">
              <button
                mat-raised-button
                class="btn bg-danger go mx-auto d-block text-light"
                type="submit"
              >
                Delete
              </button>
            </div>
          </div>
      </div>
    </form>
  </mat-card>








