<mat-nav-list>
    <div class="profile-card">
        <img src="../../../../assets/avatar.png" alt="System Admin" />
        <div class="header">
            <h4>{{ this.email }}</h4>
            <p><span class="online">Online</span></p>
        </div>
    </div>
    <!-- <small>Logged at:</small>
    <small>IP address:</small> -->
    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/system" skipLocationChange>
        <mat-icon>dashboard</mat-icon>
        Dashboard
    </a>

    <mat-accordion class="app-nav-accordion">
        <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title class="nav-title">
                    <mat-icon>settings</mat-icon>Reports
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/system/add-reports">
                    <mat-icon>subdirectory_arrow_right</mat-icon> Add
                </a>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/system/view-reports">
                    <mat-icon>subdirectory_arrow_right</mat-icon> View
                </a>

            </mat-nav-list>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="app-nav-accordion">
        <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title class="nav-title">
                    <mat-icon>import_contacts</mat-icon>Employees
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/system/add/view-employees">
                    <mat-icon>subdirectory_arrow_right</mat-icon> Add
                </a>
                <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/system/view-employees">
                    <mat-icon>subdirectory_arrow_right</mat-icon> View
                </a> -->

            </mat-nav-list>
        </mat-expansion-panel>
    </mat-accordion>


</mat-nav-list>