
  <mat-card>
    <mat-card-header  class="breadcrumb">
      <div>Transaction Maintenance</div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br>

  <div class="container-fluid">
    <form
    class="form"
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
    #resetRequestsForm="ngForm"
    novalidate
  >
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="col-md-6 col-sm-12 form-column ">
           <label class="start pull-left">Function<span class="warning">*</span></label>
          </div>
          <div class="col-md-6 col-sm-12 form-column ">
            <select (change)="onSelectFunction($event)"   class="form-control" formControlName="function_type" [ngClass]="{ 'is-invalid': submitted && f.function_type.errors }" >
              <option value="" disabled>-- Choose Function --</option>
              <option *ngFor="let flag of functionArray" [value]="flag">{{ flag }}</option>
            </select>
          </div>
       </div>
      </div>
      <div class="col-md-6">
        <div *ngIf="this.existingData" class="form-group">
          <div class="col-md-6 col-sm-12 form-column ">
           <label class="start pull-left">Transaction ID<span class="warning">*</span></label>
          </div>
          <div class="col-md-6 col-sm-12 form-column">
            <input type="text" [value]="this.transactionId" maxlength="6" oninput ="this.value=this.value.toUpperCase()"
            formControlName="transactionId" class="form-control"/>
            <mat-icon  *ngIf="existingData" (click)="transactionLookup()">search</mat-icon><br>
          </div>
       </div>
       <div *ngIf="this.existingData" class="form-group">
        <div class="col-md-6 col-sm-12 form-column ">
         <!-- <label class="start pull-left">Transaction ID<span class="warning">*</span></label> -->
        </div>
        <div class="col-md-6 col-sm-12 form-column">
          <mat-hint>{{this.transactionType}}</mat-hint>
        </div>
     </div>
      </div>
    </div>
    <div class="row button-row">
      <div class="col-md-3 offset-md-9">
        <button  mat-raised-button color="primary" type="submit">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Submit
        </button>
      </div>

  </div>
  </form>
    </div>
  </mat-card>







