<!-- <p>loan-account works!</p>
<p>{{this.message.scheme_code}}</p> -->

<mat-card>
  <mat-card-header class="breadcrumb">
    <div>Home/Configuration/Product/Loan-Product/</div>
  </mat-card-header>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h4>Function</h4>
      <p>{{message.function_type}}</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h4>Account Code</h4>
      <p>{{message.account_code}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h4>Account Type</h4>
      <p>{{message.account_type}}</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h4>Customer Type</h4>
      <p>{{message.customer_type}}</p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <br>
  <div class="container-fluid">

    <form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()" #resetRequestsForm="ngForm" novalidate>

      <div class="row">

          <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column ">
                  <label class="start pull-left">Account Manager</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input type="text" formControlName="accountManager" class="pull-right form-control"/>
                   <mat-icon>search</mat-icon>
                </div>
              </div>
            </div>

          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <div class="col-md-6 col-sm-12 form-column ">
                <label class="start pull-left">Customer Code</label>
              </div>
              <div class="col-md-6 col-sm-12 form-column">
                <input type="text" class="pull-right form-control"/>
                 <mat-icon>search</mat-icon>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-md-6 col-sm-12 form-column ">
                  <label class="start pull-left">Scheme Code</label>
                </div>
                <div class="col-md-6 col-sm-12 form-column">
                  <input type="text" formControlName="schemeCode" class="pull-right form-control"/>
                   <mat-icon>search</mat-icon>
                </div>
              </div>
            </div>
        
          <div class="col-md-6 col-sm-12">
            <div  class="form-group">
              <div class="col-md-6 col-sm-12 form-column ">
               <label class="start pull-left">GL.Subhead<span class="warning">*</span></label>
              </div>
              <div class="col-md-6 col-sm-12 form-column">
                <input type="text" [value]="this.glSubheadCode" maxlength="6" formControlName="glSubhead" class="form-control"/>
                <mat-icon (click)="refCodeLookup()">search</mat-icon><br>
              </div>
           </div>   
           <div  class="form-group">
            <div class="col-md-6 col-sm-12 form-column ">
             <!-- <label class="start pull-left">GL.Ref.Code<span class="warning">*</span></label> -->
            </div>
            <div class="col-md-6 col-sm-12 form-column">
              <mat-hint>{{this.glSubheadDescription}}</mat-hint>
            </div>
         </div>  
          </div>

        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <div class="col-md-6 col-sm-12 form-column ">
               <label class="start pull-left">Currency</label>
              </div>
              <div class="col-md-6 col-sm-12 form-column ">
               <input type="text" formControlName="currency" class="pull-right form-control" />
              </div>
           </div> 
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <div class="col-md-6 col-sm-12 form-column ">
               <label class="start pull-left">Reffered BY</label>
              </div>
              <div class="col-md-6 col-sm-12 form-column ">
               <input type="text" formControlName="referredBy" class="pull-right form-control" />
              </div>
           </div> 
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <div class="col-md-6 col-sm-12 form-column ">
               <label class="start pull-left">Disbursment Amount</label>
              </div>
              <div class="col-md-6 col-sm-12 form-column ">
               <input type="text" formControlName="amountDisbursed" class="pull-right form-control" />
              </div>
           </div> 
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <div class="col-md-6 col-sm-12 form-column ">
               <label class="start pull-left">Lien Amount</label>
              </div>
              <div class="col-md-6 col-sm-12 form-column ">
               <input type="text" formControlName="lienAmount" class="pull-right form-control" />
              </div>
           </div> 
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <div class="col-md-6 col-sm-12 form-column ">
               <label class="start pull-left">Repayment Period (Months)</label>
              </div>
              <div class="col-md-6 col-sm-12 form-column ">
               <input type="text" formControlName="repaymentPeriod" class="pull-right form-control" />
              </div>
           </div> 
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <div class="col-md-6 col-sm-12 form-column ">
               <label class="start pull-left">Branch Code</label>
              </div>
              <div class="col-md-6 col-sm-12 form-column ">
               <input type="text" formControlName="solCode" class="pull-right form-control" />
              </div>
           </div> 
          </div>
        </div>
<br>
        <div class="row mt-4" *ngIf="message.function_type!='I-Inquire'"> 
            <div class="col-md-1 offset-md-9">
              <button mat-raised-button color="warn" type="reset">
                  Reset
                </button>
            </div>
            <div class="col-md-1">
              <button mat-raised-button color="primary" type="submit">
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1"
                  ></span>
                  Submit
                </button>
            </div>
        </div>


    </form>
  </div>
</mat-card>