<mat-tab-group dynamicHeight mat-align-tabs="center">
    
    <form action="" [formGroup]="formData">
        <mat-tab label="GENERAL DETAILS">
            <div *ngIf="loading">
                <p><small>Loading, please wait...</small></p>
                <p>
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </p>
              </div>
            <div class="example-small-box mat-elevation-z4">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">Account Manager<span
                                        class="warning">*</span></label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <input type="text" formControlName="accountManager" class="form-control"
                                    oninput="this.value=this.value.toUpperCase()">
                                &nbsp; &nbsp;
                                <mat-icon color="primary" matTooltip="Search Account Manger" (click)="customerLookup()">
                                    search</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">Account Name<span class="warning">*</span></label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <input type="text" formControlName="accountName" class="form-control"
                                    oninput="this.value=this.value.toUpperCase()">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">Branch Code<span class="warning">*</span></label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <input type="text" formControlName="solCode" class="form-control"
                                    oninput="this.value=this.value.toUpperCase()">
                                &nbsp; &nbsp;
                                <mat-icon color="primary" matTooltip="Search Brach Code"
                                    (click)="branchSubheadLookup()">
                                    search</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">Currency(CCY)<span
                                        class="warning">*</span></label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <input type="text" formControlName="currency" maxlength="3" class="form-control">
                                &nbsp; &nbsp;
                                <mat-icon color="primary" matTooltip="Search Currency" (click)="currencyLookup()">
                                    search</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">Customer Code<span
                                        class="warning">*</span></label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <input type="text" formControlName="customerCode" class="form-control"
                                    oninput="this.value=this.value.toUpperCase()">
                                &nbsp; &nbsp;
                                <mat-icon color="primary" matTooltip="Search Customer Code" (click)="customerLookup()">
                                    search</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">Opening Date<span class="warning">*</span></label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <input type="date" formControlName="openingDate" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">Scheme Code<span></span>*</label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <input type="text" formControlName="schemeCode" class="form-control"
                                    oninput="this.value=this.value.toUpperCase()">
                                &nbsp; &nbsp;
                                <mat-icon color="primary" matTooltip="Search Scheme code"
                                    (click)="sbaSchemeCodeLookup()">
                                    search</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">Scheme Type<span></span>*</label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <input type="text" formControlName="schemeType" class="form-control"
                                    oninput="this.value=this.value.toUpperCase()">
                                &nbsp; &nbsp;
                                <mat-icon color="primary" matTooltip="Search Scheme Type"
                                    (click)="sbaSchemeCodeLookup()">
                                    search</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">GL CODE<span class="warning">*</span></label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <input type="text" formControlName="glCode" class="form-control"
                                    oninput="this.value=this.value.toUpperCase()">
                                &nbsp; &nbsp;
                                <mat-icon color="primary" matTooltip="Search GL Code" (click)="glSubheadLookup()">
                                    search
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">GL Subhead<span class="warning">*</span></label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <input type="text" formControlName="glSubhead" class="form-control"
                                    oninput="this.value=this.value.toUpperCase()">
                                &nbsp; &nbsp;
                                <mat-icon color="primary" matTooltip="Search GL subhead" (click)="glSubheadLookup()">
                                    search
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">Sector Code<span class="warning">*</span></label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <input type="text" formControlName="sectorCode" class="form-control"
                                    oninput="this.value=this.value.toUpperCase()">
                                &nbsp; &nbsp;
                                <mat-icon color="primary" matTooltip="Search Sector Code" (click)="sectorCodeLookup()">
                                    search</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">Sub Sector Code<span
                                        class="warning">*</span></label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <input type="text" formControlName="subSectorCode" class="form-control"
                                    oninput="this.value=this.value.toUpperCase()">
                                &nbsp; &nbsp;
                                <mat-icon color="primary" matTooltip="Search sub Sector Code"
                                    (click)="subSectorCodeLookup()">search</mat-icon>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">Cash Exception Limit Dr.<span
                                        class="warning">*</span></label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <input type="number" formControlName="cashExceptionLimitDr" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">Cash Exception Limit Cr.<span
                                        class="warning">*</span></label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <input type="number" formControlName="cashExceptionLimitCr" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">Transfer Exception Limit Dr.<span
                                        class="warning">*</span></label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <input type="number" formControlName="transferExceptionLimitDr" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">Transfer Exception Limit Cr.</label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <input type="number" formControlName="transferExceptionLimitCr" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">Account Statement<span
                                        class="warning">*</span></label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <input type="text" formControlName="accountStatement" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">Statement Frequency<span
                                        class="warning">*</span></label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <select formControlName="statementFreq" class="form-control">
                                    <option value="" disabled>SELECT FREQUENCY</option>
                                    <option oninput="this.value=this.value.toUpperCase()"
                                        *ngFor="let item of statementFreqArray" [value]="item">{{item}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">Dispatch Mode<span
                                        class="warning">*</span></label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <select formControlName="dispatchMode" class="form-control">
                                    <option value="" disabled>SELECT MODE</option>
                                    <option *ngFor="let item of despatch_mode_array" [value]="item">{{item}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column ">
                                <label class="start pull-left">Withholding Tax</label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column ">
                                <mat-radio-group name="citizen" formControlName="withholdingTax">
                                    <mat-radio-button color="primary" value=True>Yes</mat-radio-button>
                                    <mat-radio-button color="primary" value=False>No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 form-column">
                                <label for="" class="start pull-left">Account Status<span
                                        class="warning">*</span></label>
                            </div>
                            <div class="col-md-6 col-sm-12 form-column">
                                <select formControlName="accountStatus" class="form-control">
                                    <option value="" disabled>SELECT STATUS</option>
                                    <option *ngFor="let item of accountStatusArray" [value]="item">{{item}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="SPECIFIC DETAILS & NOMINATIONS">
            <div class="example-large-box mat-elevation-z4">
                <form [formGroup]="formData">
                    <div formArrayName="saving">
                        <div *ngFor="let savings of saving().controls; let savingIndex=index">
                            <div [formGroupName]="savingIndex">
                                {{savingIndex}}
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-12 form-column">
                                                <label for="" class="start pull-left">Monthly Value<span
                                                        class="warning">*</span></label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 form-column">
                                                <input type="number" formControlName="sba_monthlyValue"
                                                    placeholder="e.g 2,000" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-12 form-column">
                                                <label for="" class="start pull-left">Saving Period<span
                                                        class="warning">*</span></label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 form-column">
                                                <input type="number" formControlName="sba_savingPeriod"
                                                    placeholder="18 (months)" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-12 form-column">
                                                <label for="" class="start pull-left">Matured Value<span
                                                        class="warning">*</span></label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 form-column">
                                                <input type="number" formControlName="sba_maturedValue"
                                                    placeholder="e.g 100,000" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-12 form-column">
                                                <label for="" class="start pull-left"> Start Date
                                                    Date<span>*</span></label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 form-column">
                                                <input type="date" formControlName="sba_startDate"
                                                    class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-12 form-column">
                                                <label for="" class="start pull-left"> Matured
                                                    Date<span>*</span></label>
                                            </div>
                                            <div class="col-md-6 col-sm-12 form-column">
                                                <input type="date" formControlName="sba_maturedDate"
                                                    class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <hr>

                                <div formArrayName="nominees">
                                    <div *ngFor="let nominees of newnominees(savingIndex).controls; let nomineeIndex=index">
                                        <div [formGroupName]="nomineeIndex">
                                            {{nomineeIndex}}
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <label for="" class="start pull-left">First Name<span
                                                                    class="warning">*</span></label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <input maxlength="20" type="text"
                                                                formControlName="firstName" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <label for="" class="start pull-left">Middle Name<span
                                                                    class="warning">*</span></label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <input maxlength="20" type="text"
                                                                formControlName="middleName" class="form-control"
                                                                oninput="this.value=this.value.toUpperCase()">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <label for="" class="start pull-left">Last Name<span
                                                                    class="warning">*</span></label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <input maxlength="20" type="text" formControlName="lastName"
                                                                oninput="this.value=this.value.toUpperCase()"
                                                                class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <label for="" class="start pull-left">National ID<span
                                                                    class="warning">*</span></label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <input maxlength="8" type="text"
                                                                formControlName="identificationNo" class="form-control"
                                                                oninput="this.value=this.value.toUpperCase()">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <label for="" class="start pull-left">Phone Number<span
                                                                    class="warning">*</span></label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <input minlength="10" maxlength="12" type="text"
                                                                formControlName="phone" class="form-control"
                                                                oninput="this.value=this.value.toUpperCase()">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <label for="" class="start pull-left">Email Address<span
                                                                    class="warning">*</span></label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <input maxlength="20" type="email"
                                                                formControlName="emailAddress" class="form-control"
                                                                oninput="this.value=this.value.toUpperCase()">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <label for="" class="start pull-left">Date of Birth<span
                                                                    class="warning">*</span></label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <input type="date" formControlName="dob"
                                                                class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <label for="" class="start pull-left">Relationship<span
                                                                    class="warning">*</span></label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <select formControlName="relationship" class="form-control">
                                                                <option value="" disabled>RELATIONSHIP</option>
                                                                <option *ngFor="let item of relationshipArray"
                                                                    [value]="item">
                                                                    {{item}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <label for=""
                                                                class="start pull-left">Occupation<span></span></label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <input type="text" formControlName="occupation"
                                                                oninput="this.value=this.value.toUpperCase()"
                                                                class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <label for="" class="start pull-left">Nominee Minor<span
                                                                    class="warning">*</span></label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12 form-column">
                                                            <mat-radio-group name="minor"
                                                                formControlName="nomineeMinor">
                                                                <mat-radio-button color="primary" value=True>Yes
                                                                </mat-radio-button>
                                                                <mat-radio-button color="accent" value=False>No
                                                                </mat-radio-button>
                                                            </mat-radio-group>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="table-main-action-btn pull-right" color="accent"  mat-raised-button (click)="removeNominee(savingIndex)">Remove</button>
                                    </div>
                                </div>
                                <button class="table-main-action-btn" color="primary"  mat-raised-button (click)="addnominee(savingIndex)">
                                    Add Nominee
                                </button>
                            </div>
                            <button class="table-main-action-btn pull-right" color="accent"  mat-raised-button (click)="removeSaving(savingIndex)">Remove</button>

                        </div>
                        <button class="table-main-action-btn"  mat-raised-button (click)="addNewSavings()">Add Savings</button>
                    </div>
                    <button mat-raised-button  class="float-left" [routerLink]="">BACK</button>
                    <!-- <button mat-raised-button type="submit" color="warn" class=" start float-right">Reset</button> -->
                    <button mat-raised-button (click)="onSubmitNewSavings()" color="primary" class="float-right"
                        style="margin-bottom:20px ;"> <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1">
                        </span>SUBMIT</button>
                    <!-- <button type="button" (click)="onSubmitNewSavings()">Get Values</button> -->
                </form>
                <!-- {{this.formData.value | json}} -->

            </div>
        </mat-tab>
    </form>
</mat-tab-group>