<mat-card>
    <mat-card-header class="breadcrumb">
        <div>
            <a routerLink="/system">Dashboard / </a>
            <a routerLink="/system/savings-account/maintenance">Account Saving Maintenenace / </a>Accounts Savings
        </div>
    </mat-card-header>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h4>Function: <strong>{{this.function_type}}</strong> </h4>
        </div>
        <div class="col-md-6 col-sm-12">
            <h4>Account Code: <strong>{{this.account_code}}</strong></h4>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-md-6 col-sm-12">
          <h4>Account Type</h4>
          <p>{{message.account_type}}</p>
        </div> -->
        <div class="col-md-6 col-sm-12">
            <h4>Customer Type: <strong>{{this.customer_type}}</strong></h4>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br>
    <div class="container-fluid">
        <form action="" [formGroup]="formData" novalidate class="form" (ngSubmit)="onSubmit()">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab class="mat-tab container-fluid" label="General Details">
                    <br>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Account Manager<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="accountManager" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    &nbsp; &nbsp;
                                    <mat-icon color="primary" matTooltip="Search Account Manger"
                                        (click)="customerLookup()">search</mat-icon>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Account Name<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="accountName" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    <!-- <mat-icon (click)="customerLookup()">search</mat-icon> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Account Ownership<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="accountOwnership" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    <mat-icon (click)="customerLookup()">search</mat-icon>
                                </div>
                            </div>
                        </div>
                    
                    </div> -->
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Branch Code<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="solCode" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    &nbsp; &nbsp;
                                    <mat-icon color="primary" matTooltip="Search Brach Code"
                                        (click)="branchSubheadLookup()">search</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Currency(CCY)<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="currency" maxlength="3" class="form-control">
                                    &nbsp; &nbsp;
                                    <mat-icon color="primary" matTooltip="Search Currency" (click)="currencyLookup()">
                                        search</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Customer Code<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="customerCode" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    &nbsp; &nbsp;
                                    <mat-icon color="primary" matTooltip="Search Customer Code"
                                        (click)="customerLookup()">search</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Opening Date<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="date" formControlName="openingDate" class="form-control" />
                                    <!-- <input [matDatepicker]="opicker" formControlName="openingDate" class="form-control" />
                                    <mat-datepicker-toggle  matSuffix [for]="opicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #opicker></mat-datepicker> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Scheme Code<span></span>*</label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="schemeCode" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    &nbsp; &nbsp;
                                    <mat-icon color="primary" matTooltip="Search Scheme code"
                                        (click)="sbaSchemeCodeLookup()">search</mat-icon>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column"></div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <mat-hint>{{sba_scheme_code_desc}}</mat-hint>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">GL Subhead<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="glSubhead" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    &nbsp; &nbsp;
                                    <mat-icon color="primary" matTooltip="Search GL subhead"
                                        (click)="glSubheadLookup()">search</mat-icon>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column"></div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <mat-hint>{{sba_gl_subhead_description}}</mat-hint>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Sector Code<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <!-- <select formControlName="sectorCode" (change)="onInputSelection($event)"
                                        class="form-control">
                                        <option value="" disabled>-- Select MIS Sector Code --</option>
                                        <option *ngFor="let item of this.sectorData " [value]="item.miscode">
                                            {{item.mis_sector}}</option>
                                    </select> -->
                                    <input type="text" formControlName="sectorCode" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    &nbsp; &nbsp;
                                    <mat-icon color="primary" matTooltip="Search Sector Code"
                                        (click)="sectorCodeLookup()">search</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Sub Sector Code<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <!-- <select formControlName="subSectorCode" class="form-control">
                                        <option value="" disabled>--Select a MIS Sub Sector</option>
                                        <option *ngFor="let item of subSectors " [value]="item.missubcode">
                                            {{item.mis_sub_sector_desc}}</option>
                                    </select> -->
                                    <input type="text" formControlName="subSectorCode" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    &nbsp; &nbsp;
                                    <mat-icon color="primary" matTooltip="Search sub Sector Code"
                                        (click)="subSectorCodeLookup()">search</mat-icon>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Cash Exception Limit Dr.<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="cashExceptionLimitDr" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Cash Exception Limit Cr.<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="cashExceptionLimitCr" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Transfer Exception Limit Dr.<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="transferExceptionLimitDr"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Transfer Exception Limit Cr.</label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="transferExceptionLimitCr"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Account Statement<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="accountStatement" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Statement Frequency<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <select formControlName="statementFreq" class="form-control">
                                        <option value="" disabled>SELECT FREQUENCY</option>
                                        <option oninput="this.value=this.value.toUpperCase()"
                                            *ngFor="let item of statementFreqArray" [value]="item">{{item}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Dispatch Mode<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <select formControlName="dispatchMode" class="form-control">
                                        <option value="" disabled>SELECT MODE</option>
                                        <option *ngFor="let item of despatch_mode_array" [value]="item">{{item}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column ">
                                    <label class="start pull-left">Withholding Tax</label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column ">
                                    <mat-radio-group name="citizen" formControlName="withholdingTax">
                                        <mat-radio-button color="primary" value=True>Yes</mat-radio-button>
                                        <mat-radio-button color="primary" value=False>No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Account Status<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <select formControlName="accountStatus" class="form-control">
                                        <option value="" disabled>SELECT STATUS</option>
                                        <option *ngFor="let item of accountStatusArray" [value]="item">{{item}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab class="mat-tab" label="Specific Details">
                    <br>
                    <h4><strong>SAVINGS INFORMATION</strong> &nbsp; &nbsp;
                        <button class="table-main-action-btn bg-primary text-white" (click)="addSaving()"
                            mat-raised-button>
                            &nbsp; <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; ADD
                        </button> &nbsp; &nbsp;
                        <button class="table-main-action-btn bg-warning text-white" mat-raised-button
                            (click)="removeSaving(i)">
                            &nbsp; <i class="fa fa-minus-circle" aria-hidden="true"></i>&nbsp; REMOVE
                        </button>
                    </h4>
                    <form [formGroup]="formData">
                        <ng-container formArrayName="saving">
                            <ng-container *ngFor="let savingsFormData of saving.controls; let i = index">
                                <div class="lesson-form-row" [formGroup]="savingsFormData">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <div class="col-md-6 col-sm-12 form-column">
                                                    <label for="" class="start pull-left">Saving Period<span
                                                            class="warning">*</span></label>
                                                </div>
                                                <div class="col-md-6 col-sm-12 form-column">
                                                    <input type="number" formControlName="sba_savingPeriod"
                                                        class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <div class="col-md-6 col-sm-12 form-column">
                                                    <label for="" class="start pull-left">Matured Value<span
                                                            class="warning">*</span></label>
                                                </div>
                                                <div class="col-md-6 col-sm-12 form-column">
                                                    <input type="date" formControlName="sba_maturedValue"
                                                        class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <div class="col-md-6 col-sm-12 form-column">
                                                    <label for="" class="start pull-left"> Matured
                                                        Date<span>*</span></label>
                                                </div>
                                                <div class="col-md-6 col-sm-12 form-column">
                                                    <input type="date" formControlName="sba_maturedDate"
                                                        class="form-control" />
                                                    <!-- <input [matDatepicker]="mpicker" formControlName="sba_maturedDate"
                                            class="form-control" />
                                        <mat-datepicker-toggle *ngIf="isEnabled" matSuffix [for]="mpicker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #mpicker></mat-datepicker> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </form>
                </mat-tab>
                <mat-tab class="mat-tab" label="Nominations">
                    <br>
                    <form [formGroup]="savingsFormData">
                        <ng-container formArrayName="nominees">
                            <ng-container *ngFor="let nomineesFormData of nominees.controls; let i = index">
                                <div class="lesson-form-row" [formGroup]="nomineesFormData">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">First Name<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="20" type="text" formControlName="firstName"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Middle Name<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="20" type="text" formControlName="middleName"
                                            class="form-control" oninput="this.value=this.value.toUpperCase()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Last Name<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="20" type="text" formControlName="lastName"
                                            oninput="this.value=this.value.toUpperCase()" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">National ID<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="8" type="text" formControlName="identificationNo"
                                            class="form-control" oninput="this.value=this.value.toUpperCase()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Phone Number<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input minlength="10" maxlength="12" type="text" formControlName="phone"
                                            class="form-control" oninput="this.value=this.value.toUpperCase()">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Email Address<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input maxlength="20" type="email" formControlName="emailAddress"
                                            class="form-control" oninput="this.value=this.value.toUpperCase()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Date of Birth<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input type="date" formControlName="dob" class="form-control" />
                                        <!-- <input [matDatepicker]="ppicker" formControlName="dob" class="form-control" />
                                        <mat-datepicker-toggle *ngIf="isEnabled" matSuffix [for]="ppicker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #ppicker></mat-datepicker> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Relationship<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <select formControlName="relationship" class="form-control">
                                            <option value="" disabled>RELATIONSHIP</option>
                                            <option *ngFor="let item of relationshipArray" [value]="item">{{item}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Occupation<span></span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <input type="text" formControlName="occupation"
                                            oninput="this.value=this.value.toUpperCase()" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <label for="" class="start pull-left">Nominee Minor<span
                                                class="warning">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-column">
                                        <mat-radio-group name="minor" formControlName="nomineeMinor">
                                            <mat-radio-button color="primary" value=True>Yes</mat-radio-button>
                                            <mat-radio-button color="primary" value=False>No</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <hr>
                        <h4><strong>GUARDIAN INFORMATION</strong> &nbsp; &nbsp;
                            <button class="table-main-action-btn bg-primary text-white" (click)="addGuardian()"
                                mat-raised-button>
                                &nbsp; <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; ADD
                            </button> &nbsp; &nbsp;
                            <button class="table-main-action-btn bg-warning text-white" mat-raised-button
                                (click)="removeGuardian(i)">
                                &nbsp; <i class="fa fa-minus-circle" aria-hidden="true"></i>&nbsp; REMOVE
                            </button>
                        </h4>
                        <form action="" [formGroup]="nomineesFormData">
                            <ng-container formArrayName="guadian">
                                <ng-container *ngFor="let guardianFormData of guadian.controls; let i = index">
                                    <div class="lesson-form-row" [formGroup]="guardianFormData">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-md-6 col-sm-12 form-column">
                                                        <label for="" class="start pull-left">Guardian Name<span
                                                                class="warning">*</span></label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 form-column">
                                                        <input type="text" formControlName="guardianName"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-md-6 col-sm-12 form-column">
                                                        <label for="" class="start pull-left">Guardian Code <span
                                                                class="warning">*</span></label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 form-column">
                                                        <select formControlName="guardianCode" class="form-control">
                                                            <option value="" disabled>SELECT GURADIAN</option>
                                                            <option *ngFor="let item of guardianArray" [value]="item">
                                                                {{item}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-md-6 col-sm-12 form-column">
                                                        <label for="" class="start pull-left">Guardian Address<span
                                                                class="warning">*</span></label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 form-column">
                                                        <input type="text" formControlName="address"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-md-6 col-sm-12 form-column">
                                                        <label for="" class="start pull-left">Residence<span
                                                                class="warning">*</span></label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 form-column">
                                                        <input type="text" formControlName="residence"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </form>
                        <button class=" pull-right table-main-action-btn" color="warn" (click)="removeNominee(i)"
                            mat-raised-button>
                            &nbsp; <i class="fa fa-times-rectangle" aria-hidden="true"></i>&nbsp; CLEAR
                        </button>
                        <!-- <button class=" pull-right table-main-action-btn" color="accent" (click)="initNomineeData()"
                            mat-raised-button>
                            &nbsp; <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;RESET
                        </button> -->
                        <button class=" pull-right table-main-action-btn" color="primary" (click)="previewNominees()"
                            mat-raised-button>
                            &nbsp; <i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp; CREATE
                        </button>
                        </div>
                        </ng-container>
                        </ng-container>
                    </form>
                    <br>
                    <table class="table table-striped table-bordered table-sm row-border hover" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>First Name</th>
                                <th>Middle Name</th>
                                <th>Last Name</th>
                                <th>Nationa ID</th>
                                <th>Phone Number</th>
                                <th>Email Address</th>
                                <th>Date of Birth</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.nomineesFormData ,let i = index">
                                <td>{{i + 1}}</td>
                                <td>{{item.firstName}}</td>
                                <td>{{item.middleName}}</td>
                                <td>{{item.lastName}}</td>
                                <td>{{item.identificationNo}}</td>
                                <td>{{item.phone}}</td>
                                <td>{{item.emailAddress}}</td>
                                <td>{{item.dob}}</td>
                                <td>
                                    <mat-icon (click)="onRemove(i)" color="warn" matTooltip="Sweep Record">delete_sweep
                                    </mat-icon>
                                    <!-- <a color="accent" (click)="onRemove(i)"><i class="fa fa-minus-square" aria-hidden="true"></i></a> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </mat-tab>
            </mat-tab-group>
            <br>
            <button mat-raised-button type="submit" class="float-left" [routerLink]="">Back</button>
            <!-- <button mat-raised-button type="submit" color="warn" class=" start float-right">Reset</button> -->
            <button mat-raised-button type="submit" color="primary" class="float-right"
                style="margin-bottom:20px ;">Submit</button>
        </form>
    </div>
</mat-card>