.table-buttons{
    min-width: unset !important;
    height: 25px;
    line-height: 25px;
    padding: auto;
    margin: 2px;
  
    .mat-icon {
      font-size: 25px;
      height: 25px;
      line-height: 25px;
    }
  }