<mat-card>
    <div *ngIf="loading">
        <p><small>Loading, please wait...</small></p>
        <p>
            <mat-progress-bar mode="query"></mat-progress-bar>
        </p>
    </div>
    <mat-card-header class="breadcrumb">
        <div>Home/Sub Group Management</div>
    </mat-card-header>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h4>Function</h4>
            <p>{{this.function_type}}</p>
        </div>
        <div class="col-md-6 col-sm-12">
            <h4>Code</h4>
            <p>{{this.subgroup_code}}</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br>
    <div class="container-fluid">
        <br>
        <form action="" class="form" [formGroup]="formData" novalidate (ngSubmit)="onSubmit()">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab class="mat-tab" label="Group Details">
                    <br>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label class="start pull-left">Main Group Code<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="maingroup_sn" class="form-control"
                                        [ngClass]="{'is-invalid': submitted && f.group_code.errors}">
                                    <mat-icon (click)="mainGroupLookup()">search</mat-icon>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <mat-hint>{{this.group_name}}</mat-hint>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label class="start pull-left">subGroup Name<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="subgroup_name" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Sol ID<span class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="sol_id" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    <mat-icon (click)="branchLookup()">search</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Branch Name<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" class="form-control" formControlName="branch_name"
                                        oninput="this.value=this.value.toUpperCase()" [value]="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">SubGroup Manager ID<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input etype="text" formControlName="subgroupManager_ID" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Registration Number<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" class="form-control" formControlName="reg_no"
                                        oninput="this.value=this.value.toUpperCase()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">SubGroup Location<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="subgroup_location" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Group Phone Number<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="subgroup_phone" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label class="start pull-left">Group Formation Date<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input [matDatepicker]="ppicker" formControlName="subgroup_formation_date"
                                        class="form-control" />
                                    <mat-datepicker-toggle *ngIf="isEnabled" matSuffix [for]="ppicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #ppicker></mat-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Group Status<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="groupStatus"
                                        oninput="this.value=this.value.toUpperCase()" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Start Meeting Date<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input [matDatepicker]="mpicker" formControlName="first_meeting_date"
                                        class="form-control" />
                                    <mat-datepicker-toggle *ngIf="isEnabled" matSuffix [for]="mpicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #mpicker></mat-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Next Meeting Date<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input [matDatepicker]="npicker" formControlName="next_meeting_date"
                                        class="form-control" />
                                    <mat-datepicker-toggle *ngIf="isEnabled" matSuffix [for]="npicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #npicker></mat-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Max Allowed Members<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="maxAllowedMembers" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">SubGroup Chairperson<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="chairperson" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    <mat-icon (click)="customerLookup()">search</mat-icon>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Group Secretary<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="secretary" class="form-control">
                                    <mat-icon (click)="customerLookup()">search</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Treasurer<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="treasurer" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                    <mat-icon (click)="customerLookup()">search</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab class="mat-tab" label="Members Details">
                    <br>
                    <div *ngFor=" let groupMember of g.controls; let i = index">
                        <div [formGroup]="groupMember">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-12 form-column">
                                            <label for="" class="start pull-left">Customer Code<span
                                                    class="warning">*</span></label>
                                        </div>
                                        <div class="col-md-6 col-sm-12 form-column">
                                            <input type="text" formControlName="cust_code" class="form-control">
                                            <mat-icon (click)="customerLookup()">search</mat-icon>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-12 form-column">
                                            <label for="" class="start pull-left">Operations</label>
                                        </div>
                                        <div class="col-md-6 col-sm-12 form-column">
                                            <button mat-raised-button color="primary" type="btn" class="pull-right">+ Add</button>
                                            <!-- <button type="button" mat-button [matMenuTriggerFor]="menu">Update</button>
                                            <mat-menu #menu="matMenu">
                                            <button type="button" mat-menu-item (click)="onTransferMember(e)">Transfer Member</button>
                                            <button type="button" mat-menu-item>Exit Member</button>
                                            <button type="button" mat-menu-item>Reinstate Member</button>
                                            </mat-menu> -->
                                            
                                        <mat-icon class="pull-right" (click)="onAddField()" color="primary">add_circle</mat-icon>
                                        <mat-icon class="pull-right" (click)="onRemoveField(i)" color="warn">remove_circle</mat-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

<!--Sub Group Members -->
                    <div class="">
                        <div class="row table-action-row">
                          <div class="col-md-6 col-sm-12">
                        <div>
                        </div>
                            </div>
                          <div class="col-md-6 col-sm-12">
                          <mat-icon class="pull-right">search</mat-icon>
                          <input class="pull-right search form-control" (keyup)="applyFilter($event)" placeholder="Filter..." #input>
                          </div>
                        </div>
                        <br>  
                        <div class="table-row">
                          <table class="y-scrollable-table"mat-table matSort matTableExporter [dataSource] = "dataSource">
                           <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                            <td  mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
                          </ng-container>
                          <ng-container matColumnDef="sn">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>sn</th>
                            <td  mat-cell *matCellDef="let group"> {{group.sn}} </td>
                          </ng-container>
                      
                          <ng-container matColumnDef="Subgroup Code">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Subgroup Code</th>
                            <td  mat-cell *matCellDef="let group"> {{group.subGroupCode}} </td>
                          </ng-container>
                    
                          <ng-container matColumnDef="Subgroup Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Subgroup Name</th>
                            <td  mat-cell *matCellDef="let group"> {{group.subgroup_name}} </td>
                          </ng-container>
                    
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr (click)="onSelect(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      
                          <!-- Row shown when there is no matching data. -->
                          <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                          </tr>
                        </table>
                        </div>
                        <mat-paginator [pageSizeOptions]="[7, 20, 30, 40, 50, 100]" aria-label="Select page of users"></mat-paginator>
                      </div>







                </mat-tab>
                <mat-tab class="mat-tab" label="Financial Details">
                    <br>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Total Members</label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="total_members" class="form-control "
                                        oninput="this.value=this.value.toUpperCase()">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Meeting Frequency</label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="text" formControlName="meeting_frequency" class="form-control"
                                        oninput="this.value=this.value.toUpperCase()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Total Savings A/Cs<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="total_savingsAccs" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Total Savings Balance<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="total_savingBalance" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull-left">Total Loan A/Cs<span
                                            class="warning">*</span></label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="total_loanAccs" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 form-column">
                                    <label for="" class="start pull left">Total Loan Balances</label>
                                </div>
                                <div class="col-md-6 col-sm-12 form-column">
                                    <input type="number" formControlName="total_loanBalance" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <br>

            <button mat-raised-button color="default" routerLink="../../maintenance" type="submit">Back</button>
            <button mat-raised-button color="primary" type="submit" class="pull-right"
                *ngIf="isSubmitted">Submit</button>
            <button mat-raised-button color="warn" type="submit" class="pull-right" *ngIf="isDeleted">Delete</button>
        </form>
    </div>
</mat-card>