
<div class="breadcrumb">
    <h4 >List of HIVSM Setups</h4>
</div>
    <table class="table table-striped table-bordered table-sm row-border hover" style="width: 100%">
        <thead>
            <tr>
                <th>Interest Table Code</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Have Credit</th>
                <th>Have Debit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of chrgPrefData">
                <td><a class="update btn btn-sm" color="accent" (click)="onSelect(item.int_tbl_code)">{{item.int_tbl_code}}</a></td>
                <td><a class="update btn btn-sm" color="accent" (click)="onSelect(item.int_tbl_code)">{{item.start_date | date}}</a></td>
                <td><a class="update btn btn-sm" color="accent" (click)="onSelect(item.int_tbl_code)">{{item.end_date | date}} </a></td>
                <td><a class="update btn btn-sm" color="accent" (click)="onSelect(item.int_tbl_code)">{{item.have_credit}}</a></td>
                <td><a class="update btn btn-sm" color="accent" (click)="onSelect(item.int_tbl_code)">{{item.have_debit}}</a></td>
            </tr>
        </tbody>
    </table>